@each $name, $value in $colors {
    .color-#{"" + $name} {
        color: var(--#{"" + $name});
        &-hover:hover {
            color: var(--#{"" + $name});
        }
    }
    .bg-#{"" + $name} {
        background: var(--#{"" + $name});
        &-hover:hover {
            background: var(--#{"" + $name});
        }
    }
    .border-#{"" + $name} {
        border-color: var(--#{"" + $name});
        &-hover:hover {
            border-color: var(--#{"" + $name});
        }
    }
}
