.p {
    @include resp {
        &-auto {
            padding: auto;
        }
        &-t-auto {
            padding-top: auto;
        }
        &-r-auto {
            padding-right: auto;
        }
        &-b-auto {
            padding-bottom: auto;
        }
        &-l-auto {
            padding-left: auto;
        }
        &-h-auto {
            padding-left: auto;
            padding-right: auto;
        }
        &-v-auto {
            padding-top: auto;
            padding-bottom: auto;
        }
        @for $var from $padding-min to $padding-max {
            &-#{$var} {
                padding: ptr($var * 1px);
            }
            &-t-#{$var} {
                padding-top: ptr($var * 1px);
            }
            &-r-#{$var} {
                padding-right: ptr($var * 1px);
            }
            &-b-#{$var} {
                padding-bottom: ptr($var * 1px);
            }
            &-l-#{$var} {
                padding-left: ptr($var * 1px);
            }
            &-h-#{$var} {
                padding-left: ptr($var * 1px);
                padding-right: ptr($var * 1px);
            }
            &-v-#{$var} {
                padding-top: ptr($var * 1px);
                padding-bottom: ptr($var * 1px);
            }
        }
    }
}
