@font-face {
  font-family: poppins;
  src: url("./font/poppins/Poppins-Regular.ttf"); }
@font-face {
  font-family: poppins;
  src: url("./font/poppins/Poppins-Medium.ttf");
  font-weight: 500; }
@font-face {
  font-family: poppins;
  src: url("./font/poppins/Poppins-SemiBold.ttf");
  font-weight: 600; }
@font-face {
  font-family: poppins;
  src: url("./font/poppins/Poppins-Bold.ttf");
  font-weight: 700; }
.font-poppins {
  font-family: poppins; }

@font-face {
  font-family: roboto;
  src: url("./font/roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: roboto;
  src: url("./font/roboto/Roboto-Medium.ttf");
  font-weight: 500; }
@font-face {
  font-family: roboto;
  src: url("./font/roboto/Roboto-Bold.ttf");
  font-weight: 700; }
.font-roboto {
  font-family: roboto; }

html {
  font-size: 10px;
  overflow: auto; }
  @media (min-width: 575px) {
    html {
      font-size: 11px; } }
  @media (min-width: 768px) {
    html {
      font-size: 12px; } }
  @media (min-width: 992px) {
    html {
      font-size: 13px; } }
  @media (min-width: 1024px) {
    html {
      font-size: 14px; } }
  @media (min-width: 1440px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1680px) {
    html {
      font-size: 18px; } }
  @media (min-width: 1920px) {
    html {
      font-size: 20px; } }

:root {
  --white: white;
  --black: black;
  --red: red;
  --blue: blue;
  --green: green;
  --lime: lime;
  --yellow: yellow;
  --orange: orange;
  --gray: gray;
  --bunker: #161b22;
  --red-1: #C80935;
  --red-2: #981433;
  --gray-1: #42484E;
  --gray-2: #A7A6A6;
  --green-1: #1DDD5E;
  --gray-3: #C2C2C2;
  --gray-4: #8A8A8A;
  --white-bg: #F1F1F1;
  --white-3: #E5E5E5;
  --green-2: #1BC755;
  --white-line: #E2E2E2;
  --white-2: #F8F8F8;
  --blue-1: #2F6997;
  --yellow-1: #E3E030;
  --orange-1: #F18403;
  --red-lite: #F7DFE5;
  --yellow-3: #FB9B26;
  --green-3: #107E35;
  --error: red;
  --transparent: transparent; }

.container {
  width: 100%;
  max-width: var(--container, 87rem);
  margin-left: auto;
  margin-right: auto; }

.bg, .bg img, .bg .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

.input.error {
  --box-c: var(--error,var(--red)); }
.input.ok {
  --box-c: var(--ok,var(--green)); }

.panel-default > .panel-heading {
  background-color: none; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 8px; }

::-webkit-scrollbar-track {
  background-color: var(--white, white);
  border-radius: 8px; }

::-webkit-scrollbar-thumb {
  background-color: var(--gray, gray);
  border-radius: 8px; }

body {
  padding-top: var(--sizeHeader, 0); }

/*# sourceMappingURL=style.css.map */
