<template>
  <EncabezadoPrincipal
    img="/img/logo.png"
    img1="/img/user.svg"
    v-bind:links="[
      {
        link: '/',
        text: 'Home',
      },
    ]"
  />

 <InfoEmpresa2
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    
    
  />

  <DisTotal
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    
    
  />

   <ResumenRef
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    
    
  />

  <ComisionMes
    img="/img/sort-down.svg"
    title="Comisión por mes "
    title1="Transporte nacional"
    title2="Descuento paquetería "
    text1="Aplicar a todos"
    text2="Urbano"
    text3="Regional"
    text4="Nacional"
    text5="Zonal"
    img1="/img/tcc.svg"
    img2="/img/envia.svg"
    img3="/img/servientrega.svg"
    img4="/img/saferbo.svg"
    imgtext1="TCC"
    imgtext2="Envia"
    imgtext3="Servientrega"
    imgtext4="Saferbo"
  />

  <UsuariosReferidos
    img="/img/sort-down.svg"
    title="Usuarios referidos "
    title1="Transporte nacional"
    title2="Descuento paquetería "
    text1="Aplicar a todos"
    text2="Urbano"
    text3="Regional"
    text4="Nacional"
    text5="Zonal"
    img1="/img/tcc.svg"
    img2="/img/envia.svg"
    img3="/img/servientrega.svg"
    img4="/img/saferbo.svg"
    imgtext1="TCC"
    imgtext2="Envia"
    imgtext3="Servientrega"
    imgtext4="Saferbo"
  />

  





 
  
</template>

<script>
import EncabezadoPrincipal from "@/components/EncabezadoPrincipal.vue";
import InfoEmpresa2 from "@/components/InfoEmpresa2.vue";
import DisTotal from "@/components/DisTotal.vue";
import ResumenRef from "@/components/ResumenRef.vue";
import ComisionMes from "@/components/ComisionMes.vue";
import UsuariosReferidos from "@/components/UsuariosReferidos.vue";



const contentsData = [
  {
    title1: "AA",
    select1: "Si",
    select2: "No",
    title3: "Alto",
    title4: "AA",
    title5: "Suspendido por cartera",
    title6: "85%",
    subTitle1: "Calificación CIFIN",
    subTitle2: "Transportadora Envia",
    subTitle3: "Complejidad",
    subTitle4: "Tipo de cliente",
    subTitle5: "Transportadora Envia",
    subTitle6: "Nivel de satisfacción",

    button: "Ver detalle",
    tablaTitles: [
      ``,
      `Recaudo`,
      `Transportadora naciona`,
      `Transportadora internacional`,
      `Ultima milla`,
      `Link de pago`,
    ],
    tablaItems: [
      {
        title: "Promedio de guías",
        Recaudo: 100,
        "Transportadora nacional": 100,
        "Transportadora internacional": 100,
        "Ultima milla": 100,
        "Link de pago": 100,
      },
      {
        title: "Fecha primer servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
      {
        title: "Fecha último servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
    ],
  },
];

export default {
  name: "App",
  components: {
    EncabezadoPrincipal,
    InfoEmpresa2,
    DisTotal,
    ResumenRef,
    ComisionMes,
    UsuariosReferidos
    
  },
  data() {
    return {
      contentComponentTabs: [
        <>
          <InformacionGeneral {...contentsData} />
        </>,
        <h1>asdasd</h1>,
        <h1>asdasd</h1>,
      ],
    };
  },
};
</script>

