<template>
  <EncabezadoPrincipal
    img="/img/logo.png"
    img1="/img/user.svg"
    v-bind:links="[
      {
        link: '/',
        text: 'Home',
      },
    ]"
  />
  <LLamadaCel
  
  />


   <InfoEmpresa4
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />

   <EmbudoComercial
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
 
 <InputEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />

 <InputEmbudo2
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />

  <TableReferedios4
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />

  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />
  <TabEmbudo
    title="Gestión comercial"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />


  



 
  
</template>

<script>
import EncabezadoPrincipal from "@/components/EncabezadoPrincipal.vue";
import LLamadaCel from "@/components/LLamadaCel.vue";
import InfoEmpresa4 from "@/components/InfoEmpresa4.vue";
import EmbudoComercial from "@/components/EmbudoComercial.vue";
import InputEmbudo from "@/components/InputEmbudo.vue";
import InputEmbudo2 from "@/components/InputEmbudo2.vue";
import TabEmbudo from "@/components/TabEmbudo.vue";
import TableReferedios4 from "@/components/TableReferedios4.vue";





const contentsData = [
  {
    title1: "AA",
    select1: "Si",
    select2: "No",
    title3: "Alto",
    title4: "AA",
    title5: "Suspendido por cartera",
    title6: "85%",
    subTitle1: "Calificación CIFIN",
    subTitle2: "Transportadora Envia",
    subTitle3: "Complejidad",
    subTitle4: "Tipo de cliente",
    subTitle5: "Transportadora Envia",
    subTitle6: "Nivel de satisfacción",

    button: "Ver detalle",
    tablaTitles: [
      ``,
      `Recaudo`,
      `Transportadora naciona`,
      `Transportadora internacional`,
      `Ultima milla`,
      `Link de pago`,
    ],
    tablaItems: [
      {
        title: "Promedio de guías",
        Recaudo: 100,
        "Transportadora nacional": 100,
        "Transportadora internacional": 100,
        "Ultima milla": 100,
        "Link de pago": 100,
      },
      {
        title: "Fecha primer servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
      {
        title: "Fecha último servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
    ],
  },
];

export default {
  name: "App",
  components: {
    EncabezadoPrincipal,
    LLamadaCel,
    InfoEmpresa4,
    EmbudoComercial,
    InputEmbudo,
    InputEmbudo2,
    TableReferedios4,
    TabEmbudo
    
    
  },
  data() {
    return {
      contentComponentTabs: [
        <>
          <InformacionGeneral {...contentsData} />
        </>,
        <h1>asdasd</h1>,
        <h1>asdasd</h1>,
      ],
    };
  },
};
</script>

