<template>
  <EncabezadoPrincipal
    img="/img/logo.png"
    img1="/img/user.svg"
    v-bind:links="[
      {
        link: '/',
        text: 'Home',
      },
    ]"
  />

  <InfoEmpresa
    title="Registro nuevo cliente"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    
    
  />

  
  <DatosFacturacion
    img="/img/sort-down.svg"
    title="Captación del cliente potencial o Lead"
    label1="Asesor comercial *"
    label2="Campaña de mercadeo *"
    select="Liliana Osorio"
    select1="Potencial"
    select2="Lead"
    label3="Canal *"
    label4="Tipo de registro *"
    label5="Campaña publicitaria *"
    
    
  />

  <InformacionGeneral2
    img="/img/sort-down.svg"
    title="Información general del cliente"
    label1="Nombre empresa *"
    label2="Correo electrónico *"
    label3="Descuento"
    label4="Razon social"
    label5="Documento *"
    label6="Ciudad del cliente *"
    label7="Fecha inicio"
    label8="Fecha fin"
    label9="Correo electronico"
    label10="Dirección *"
    label11="Motivo"
    label12="Celular *"
    label13="Tipo de mercancía *"
    select2="NIT"
    select1="CC" 
    select3="CE" 
    select4="Potencial"
    select5="Lead"  
  />

  <DetallesCostos
  img="/img/sort-down.svg"
    title="Detalles de costos"
    label1="Lista de precios paqueteria *"
    label2="Lista de descuento *"
    select="Liliana Osorio"
    select1="si"
    select2="no"
    label3="¿Se factura fee? *"
    label4="Lista de precios mensajería *"
    label5="Fecha de inicio"
    label6="Fecha fin"
    date="Fecha última promoción 12/04/2022"
    linkText="Ver historial"
  />

 <NegociacionAveonline
    img="/img/sort-down.svg"
    title="Negociación"
    title1="Transporte nacional"
    title2="Descuento paquetería "
    text1="Aplicar a todos"
    text2="Urbano"
    text3="Regional"
    text4="Nacional"
    text5="Zonal"
    img1="/img/tcc.svg"
    img2="/img/envia.svg"
    img3="/img/servientrega.svg"
    img4="/img/saferbo.svg"
    imgtext1="TCC"
    imgtext2="Envia"
    imgtext3="Servientrega"
    imgtext4="Saferbo"
  />


  
</template>

<script>
import EncabezadoPrincipal from "@/components/EncabezadoPrincipal.vue";
import InfoEmpresa from "@/components/InfoEmpresa.vue";
import DatosFacturacion from "@/components/DatosFacturacion.vue";
import InformacionGeneral2 from "@/components/InformacionGeneral2.vue";
import DetallesCostos from "@/components/DetallesCostos.vue";
import NegociacionAveonline from "@/components/NegociacionAveonline.vue";


const contentsData = [
  {
    title1: "AA",
    select1: "Si",
    select2: "No",
    title3: "Alto",
    title4: "AA",
    title5: "Suspendido por cartera",
    title6: "85%",
    subTitle1: "Calificación CIFIN",
    subTitle2: "Transportadora Envia",
    subTitle3: "Complejidad",
    subTitle4: "Tipo de cliente",
    subTitle5: "Transportadora Envia",
    subTitle6: "Nivel de satisfacción",

    button: "Ver detalle",
    tablaTitles: [
      ``,
      `Recaudo`,
      `Transportadora naciona`,
      `Transportadora internacional`,
      `Ultima milla`,
      `Link de pago`,
    ],
    tablaItems: [
      {
        title: "Promedio de guías",
        Recaudo: 100,
        "Transportadora nacional": 100,
        "Transportadora internacional": 100,
        "Ultima milla": 100,
        "Link de pago": 100,
      },
      {
        title: "Fecha primer servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
      {
        title: "Fecha último servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
    ],
  },
];

export default {
  name: "App",
  components: {
    EncabezadoPrincipal,
    InfoEmpresa,
    DatosFacturacion,
    InformacionGeneral2,
    DetallesCostos,
    NegociacionAveonline
    
  },
  data() {
    return {
      contentComponentTabs: [
        <>
          <InformacionGeneral {...contentsData} />
        </>,
        <h1>asdasd</h1>,
        <h1>asdasd</h1>,
      ],
    };
  },
};
</script>

