<template>
  <EncabezadoPrincipal
    img="/img/logo.png"
    img1="/img/user.svg"
    v-bind:links="[
      {
        link: '/',
        text: 'Home',
      },
    ]"
  />

  <InfoEmpresa
    title="Registro nuevo cliente"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    
    
  />

  
  <DatosFacturacion
    img="/img/sort-down.svg"
    title="Captación del cliente potencial o Lead"
    label1="Asesor comercial *"
    label2="Campaña de mercadeo *"
    select="Liliana Osorio"
    select1="Potencial"
    select2="Lead"
    label3="Canal *"
    label4="Tipo de registro *"
    label5="Campaña publicitaria *"
    
    
  />

  <InformacionGeneralCliente
    img="/img/sort-down.svg"
    title="Información general del cliente"
    label1="Nombre empresa *"
    label2="Celular *"
    label3="Ciudad del cliente "
    label4="Persona de contacto"
    label5="Correo electronico"
    label6="Direccion"
    label7="Tipo de mercancia"
    selected2="Leal"
    selected1="Potencial" 
  />



  
</template>

<script>
import EncabezadoPrincipal from "@/components/EncabezadoPrincipal.vue";
import InfoEmpresa from "@/components/InfoEmpresa.vue";
import DatosFacturacion from "@/components/DatosFacturacion.vue";
import InformacionGeneralCliente from "@/components/InformacionGeneralCliente.vue";


const contentsData = [
  {
    title1: "AA",
    select1: "Si",
    select2: "No",
    title3: "Alto",
    title4: "AA",
    title5: "Suspendido por cartera",
    title6: "85%",
    subTitle1: "Calificación CIFIN",
    subTitle2: "Transportadora Envia",
    subTitle3: "Complejidad",
    subTitle4: "Tipo de cliente",
    subTitle5: "Transportadora Envia",
    subTitle6: "Nivel de satisfacción",

    button: "Ver detalle",
    tablaTitles: [
      ``,
      `Recaudo`,
      `Transportadora naciona`,
      `Transportadora internacional`,
      `Ultima milla`,
      `Link de pago`,
    ],
    tablaItems: [
      {
        title: "Promedio de guías",
        Recaudo: 100,
        "Transportadora nacional": 100,
        "Transportadora internacional": 100,
        "Ultima milla": 100,
        "Link de pago": 100,
      },
      {
        title: "Fecha primer servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
      {
        title: "Fecha último servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
    ],
  },
];

export default {
  name: "App",
  components: {
    EncabezadoPrincipal,
    InfoEmpresa,
    DatosFacturacion,
    InformacionGeneralCliente,
    
  },
  data() {
    return {
      contentComponentTabs: [
        <>
          <InformacionGeneral {...contentsData} />
        </>,
        <h1>asdasd</h1>,
        <h1>asdasd</h1>,
      ],
    };
  },
};
</script>

