<template>
  <EncabezadoPrincipal
    img="/img/logo.png"
    img1="/img/user.svg"
    v-bind:links="[
      {
        link: '/',
        text: 'Home',
      },
    ]"
  />

 <InfoEmpresa3
    title="Comisiones Aveonline"
    img="/img/sort-down.svg"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"  
  />

    <BarraCol
    :defaultActive="1"
    :titles="[`Referidos clientes `, `Comisiones comercial` ]"
    :contents="contentComponentTabs"
  />


   <ResumenRef1
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    
    
  />

   <BuscarArchivo
  img="/img/sort-down.svg"
  />



   <TableRefered
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    
    
  />

  <TablaReferidos3
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
     img="/img/sort-down.svg"
    
  />
  <TablaReferidos3
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
     img="/img/sort-down.svg"
    
  />

<TablaReferidos3
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
     img="/img/sort-down.svg"
    
  />

<TablaReferidos3
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
     img="/img/sort-down.svg"
    
  />

<TablaReferidos3
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
     img="/img/sort-down.svg"
    
  />

  <PaginadorPag
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
     img="/img/sort-down.svg"
    
  />


 

  


 
  
</template>

<script>
import EncabezadoPrincipal from "@/components/EncabezadoPrincipal.vue";
import InfoEmpresa3 from "@/components/InfoEmpresa3.vue";
import BarraCol from "@/components/BarraCol.vue";
import TableRefered from "@/components/TableRefered.vue";
import TablaReferidos3 from "@/components/TablaReferidos3.vue";
import ResumenRef1 from "@/components/ResumenRef1.vue";
import BuscarArchivo from "@/components/BuscarArchivo.vue";
import PaginadorPag from "@/components/PaginadorPag.vue";



const contentsData = [
  {
    title1: "AA",
    select1: "Si",
    select2: "No",
    title3: "Alto",
    title4: "AA",
    title5: "Suspendido por cartera",
    title6: "85%",
    subTitle1: "Calificación CIFIN",
    subTitle2: "Transportadora Envia",
    subTitle3: "Complejidad",
    subTitle4: "Tipo de cliente",
    subTitle5: "Transportadora Envia",
    subTitle6: "Nivel de satisfacción",

    button: "Ver detalle",
    tablaTitles: [
      ``,
      `Recaudo`,
      `Transportadora naciona`,
      `Transportadora internacional`,
      `Ultima milla`,
      `Link de pago`,
    ],
    tablaItems: [
      {
        title: "Promedio de guías",
        Recaudo: 100,
        "Transportadora nacional": 100,
        "Transportadora internacional": 100,
        "Ultima milla": 100,
        "Link de pago": 100,
      },
      {
        title: "Fecha primer servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
      {
        title: "Fecha último servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
    ],
  },
];

export default {
  name: "App",
  components: {
    EncabezadoPrincipal,
    InfoEmpresa3,
    BarraCol,
    TableRefered,
    ResumenRef1,
    BuscarArchivo,
    TablaReferidos3,
    PaginadorPag
   
    
  },
  data() {
    return {
      contentComponentTabs: [
        <>
          <InformacionGeneral {...contentsData} />
        </>,
        <h1>asdasd</h1>,
        <h1>asdasd</h1>,
      ],
    };
  },
};
</script>

