<template>
  <EncabezadoPrincipal
    img="/img/logo.png"
    img1="/img/user.svg"
    v-bind:links="[
      {
        link: '/',
        text: 'Home',
      },
    ]"
  />

 <InfoEmpresa3
    title="Comisiones Aveonline"
   
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    
    
  />

    <BarraCol
    :defaultActive="1"
    :titles="[`Referidos clientes `, `Comisiones comercial` ]"
    :contents="contentComponentTabs"
  />


   <ResumenRef
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    
    
  />

   <TableReferedios
    title="Referidos"
    title1="Ver tutotial"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    
    
  />

  <ComisionesAve
  img="/img/sort-down.svg"
  
  />
  
  

   <ComisionesPedientes
  img="/img/sort-down.svg"
  
  />

   <ComisionesIncorrectas
  img="/img/sort-down.svg"
  
  />

   <ComisionesPagadas
  img="/img/sort-down.svg"
  
  />


  
</template>

<script>
import EncabezadoPrincipal from "@/components/EncabezadoPrincipal.vue";
import InfoEmpresa3 from "@/components/InfoEmpresa3.vue";
import ResumenRef from "@/components/ResumenRef.vue";
import BarraCol from "@/components/BarraCol.vue";
import TableReferedios from "@/components/TableReferedios.vue";
import ComisionesPedientes from "@/components/ComisionesPedientes.vue";
import ComisionesPagadas from "@/components/ComisionesPagadas.vue";
import ComisionesIncorrectas from "@/components/ComisionesIncorrectas.vue";
import ComisionesAve from "@/components/ComisionesAve.vue";




const contentsData = [
  {
    title1: "AA",
    select1: "Si",
    select2: "No",
    title3: "Alto",
    title4: "AA",
    title5: "Suspendido por cartera",
    title6: "85%",
    subTitle1: "Calificación CIFIN",
    subTitle2: "Transportadora Envia",
    subTitle3: "Complejidad",
    subTitle4: "Tipo de cliente",
    subTitle5: "Transportadora Envia",
    subTitle6: "Nivel de satisfacción",

    button: "Ver detalle",
    tablaTitles: [
      ``,
      `Recaudo`,
      `Transportadora naciona`,
      `Transportadora internacional`,
      `Ultima milla`,
      `Link de pago`,
    ],
    tablaItems: [
      {
        title: "Promedio de guías",
        Recaudo: 100,
        "Transportadora nacional": 100,
        "Transportadora internacional": 100,
        "Ultima milla": 100,
        "Link de pago": 100,
      },
      {
        title: "Fecha primer servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
      {
        title: "Fecha último servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
    ],
  },
];

export default {
  name: "App",
  components: {
    EncabezadoPrincipal,
    InfoEmpresa3,
    BarraCol,
    ResumenRef,
    TableReferedios,
    ComisionesAve,
    ComisionesPedientes,
    ComisionesIncorrectas,
    ComisionesPagadas
    
    
  },
  data() {
    return {
      contentComponentTabs: [
        <>
          <InformacionGeneral {...contentsData} />
        </>,
        <h1>asdasd</h1>,
        <h1>asdasd</h1>,
      ],
    };
  },
};
</script>

