<template>
  <EncabezadoPrincipal
    img="/img/logo.png"
    img1="/img/user.svg"
    v-bind:links="[
      {
        link: '/',
        text: 'Home',
      },
    ]"
  />

  <NameEmpresa
    title="NOMBRE EMPRESA"
    subTitle="NIT. -" 
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    linkText1="Comercial"
    linkText2="Servicio al cliente"
    linkText3="Administrativo"
    tablaTitle1="Recaudo"
    v-bind:links="[
      {
        text: 'Home',
      },
    ]"
  />

  <HelloWorld
    :defaultActive="1"
    :titles="[`Información general`, `Historial`, `Reportes`]"
    :contents="contentComponentTabs"
  />

 <InformacionGeneral
    title1="AA"
    select1="Si"
    select2="No"
    title3="Alto"
    title4="AA"
    title5="Suspendido por cartera"
    title6="85%"
    subTitle1="Calificación CIFIN"
    subTitle2="Transportadora Envia"
    subTitle3="Complejidad"
    subTitle4="Tipo de cliente"
    subTitle5="Transportadora Envia"
    subTitle6="Nivel de satisfacción"
    button=""
    :tablaTitles="[
      `Recaudo`,
      `Recaudo`,
      `Transportadora nacional`,
      `Transportadora internacional`,
      `Ultima milla`,
      `Link de pago`,
    ]"
    :tablaItems="[
      {
        title: 'Promedio de guías (mes)',
        Recaudo: 100,
        'Transportadora nacional': 100,
        'Transportadora internacional': 100,
        'Ultima milla': 100,
        'Link de pago': 100,
      },
      {
        title: 'Fecha primer servicio',
        Recaudo: '03/03/2020',
        'Transportadora nacional': '03/03/2020',
        'Transportadora internacional': '03/03/2020',
        'Ultima milla': '03/03/2020',
        'Link de pago': '03/03/2020',
      },
      {
        title: 'Fecha último servicio',
        Recaudo: '03/03/2020',
        'Transportadora nacional': '03/03/2020',
        'Transportadora internacional': '03/03/2020',
        'Ultima milla': '03/03/2020',
        'Link de pago': '03/03/2020',
      },
    ]"
  />

  <HistorialGestion2
  title="Historial de gestión"
  date1="Fecha inicial"
  date2="Fecha inicial"
  select="Estado"
  option1="Todos"
  option2="1"
  option3="2"
  />
  
</template>

<script>
import EncabezadoPrincipal from "@/components/EncabezadoPrincipal.vue";
import HelloWorld from "@/components/HelloWorld.vue";
import NameEmpresa from "@/components/NameEmpresa.vue";
import InformacionGeneral from "@/components/InformacionGeneral.vue";
import HistorialGestion2 from "@/components/HistorialGestion2.vue";



const contentsData = [
  {
    title1: "AA",
    select1: "Si",
    select2: "No",
    title3: "Alto",
    title4: "AA",
    title5: "Suspendido por cartera",
    title6: "85%",
    subTitle1: "Calificación CIFIN",
    subTitle2: "Transportadora Envia",
    subTitle3: "Complejidad",
    subTitle4: "Tipo de cliente",
    subTitle5: "Transportadora Envia",
    subTitle6: "Nivel de satisfacción",

    button: "Ver detalle",
    tablaTitles: [
      ``,
      `Recaudo`,
      `Transportadora naciona`,
      `Transportadora internacional`,
      `Ultima milla`,
      `Link de pago`,
    ],
    tablaItems: [
      {
        title: "Promedio de guías",
        Recaudo: 100,
        "Transportadora nacional": 100,
        "Transportadora internacional": 100,
        "Ultima milla": 100,
        "Link de pago": 100,
      },
      {
        title: "Fecha primer servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
      {
        title: "Fecha último servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
    ],
  },
];

export default {
  name: "App",
  components: {
    EncabezadoPrincipal,
    HelloWorld,
    NameEmpresa,
    InformacionGeneral,
    HistorialGestion2
    
  },
  data() {
    return {
      contentComponentTabs: [
        <>
          <InformacionGeneral {...contentsData} />
        </>,
        <h1>asdasd</h1>,
        <h1>asdasd</h1>,
      ],
    };
  },
};
</script>

