<template>
  <div class="m-h-24 m-v-24 ">
    <table class="border-white-3 width-p-100" style="min-width: 1000px">
      <thead
        :id="`headerTable-${id}`"
        :class="`width-p-100 border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <th colspan="3">
            <div
              class="
                flex-align-center flex flex-justify-start
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-1
                border-t-1
                border-b-2
                border-t-l-radius-5
                font-roboto font-w-700 font-18
                color-gray-1
              "
            >
              {{ title }}
            </div>
          </th>
          <th>
            <div
              class="
                flex flex-justify-right flex-align-center
                height-65
                p-h-10 p-v-10
                border-style-solid
                border-0
                border-gray-3
                border-r-1
                border-t-1
                 border-b-2
                border-t-r-radius-5
              "
            >
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <img class="" :src="img" alt="" />
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-0 bodyTable ${showBody ? `active` : ``}`"
      >
      
        <tr class="">
          <td class="" colspan="6">
            <div class=" width-p-100">
            <table class="border-l-1 border-r-1 border-0 border-style-solid border-gray-3 width-p-100" id="tabla2">
              
              <tr>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-2
                      border-l-0
                      border-b-2
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-18 color-gray-1 ">
                        Código
                      </h2>
                    </div>
                  </div>
                </td> 
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-2
                      border-l-0
                      border-b-2
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        Agente
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-2
                      border-l-0
                      border-b-2
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        Orden recogida
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-2
                      border-l-0
                      border-b-2
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        Correo agente
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-2
                      border-l-0
                      border-b-2
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        Contacto
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-2
                      border-l-0
                      border-b-2
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        Teléfono
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-2
                      border-l-0
                      border-b-2
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        Dirección
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-2
                      border-l-0
                      border-b-2
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        Postcode
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-2
                      border-l-0
                      border-b-2
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        Opciones
                      </h2>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-18 color-gray-1 text-center ">
                        09046
                      </h2>
                    </div>
                  </div>
                </td> 
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-150" type="text">
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-112" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class=" border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="email">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="width-150 border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 " type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                     <input class="width-120 border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="width-68 border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex  flex-align-center flex-justify-between
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    
                        <img class="width-12 pointer" src="/img/eye.svg" alt="">
                        <img class="width-12 pointer" src="/img/account.svg" alt="">
                        <img class="width-12 pointer" src="/img/times.svg" alt="">

                    
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-18 color-gray-1 text-center ">
                        09046
                      </h2>
                    </div>
                  </div>
                </td> 
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        <input class="width-150 border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-112" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-150" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                     <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-120" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-68" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex  flex-align-center flex-justify-between
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    
                        <img class="width-12 pointer" src="/img/eye.svg" alt="">
                        <img class="width-12 pointer" src="/img/account.svg" alt="">
                        <img class="width-12 pointer" src="/img/times.svg" alt="">

                    
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-18 color-gray-1 text-center ">
                        09046
                      </h2>
                    </div>
                  </div>
                </td> 
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        <input class="width-150 border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-112" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-150" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                     <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-120" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-68" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex  flex-align-center flex-justify-between
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    
                        <img class="width-12 pointer" src="/img/eye.svg" alt="">
                        <img class="width-12 pointer" src="/img/account.svg" alt="">
                        <img class="width-12 pointer" src="/img/times.svg" alt="">

                    
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-18 color-gray-1 text-center ">
                        09046
                      </h2>
                    </div>
                  </div>
                </td> 
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        <input class="width-150 border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-112" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-150" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                     <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-120" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 " type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-68" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex  flex-align-center flex-justify-between
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    
                        <img class="width-12 pointer" src="/img/eye.svg" alt="">
                        <img class="width-12 pointer" src="/img/account.svg" alt="">
                        <img class="width-12 pointer" src="/img/times.svg" alt="">

                    
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-18 color-gray-1 text-center ">
                        09046
                      </h2>
                    </div>
                  </div>
                </td> 
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <h2 class="font-roboto font-w-700 font-16 color-gray-1 ">
                        <input class="width-150 border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                      </h2>
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-112" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="width-150 border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                     <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-120" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 " type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex flex-justify-center flex-align-center
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    <div class="">
                      <input class="border-radius-5 border-style-solid border-1 border-gray-3 outline-none p-10 width-68" type="text">
                    </div>
                  </div>
                </td>
                <td>
                  <div
                    class="
                      flex  flex-align-center flex-justify-between
                      height-65
                      border-gray-3
                      border-style-solid
                      border-r-0
                      border-r-0
                      border-t-0
                      border-l-0
                      border-b-0
                    "
                  >
                    
                        <img class="width-12 pointer" src="/img/eye.svg" alt="">
                        <img class="width-12 pointer" src="/img/account.svg" alt="">
                        <img class="width-12 pointer" src="/img/times.svg" alt="">

                    
                  </div>
                </td>
              </tr>
              
            </table>
            </div>
          </td>
        </tr>
        
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-1
                border-b-l-radius-5
              "
            ></div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            ></div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-1
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                border-b-r-radius-5
              "
            ></div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "AgentesAve",
  props: {
    title: String,
    img:String,
    img1: String,
    img2: String,
    img3: String,
    img4: String,
    title1: String,
    title2: String,
    money: String,
    text: String,
    text1: String,
    text2: String,
    text3: String,
    text4: String,
    text5: String,
    imgtext1:String,
    imgtext2:String,
    imgtext3:String,
    imgtext4:String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.313rem !important ;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.313rem !important ;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










