<template>
  <div class="m-v-24 m-h-24  ">
    <div class="flex flex-align-center flex-justify-between">
        <div class="flex flex-align-center height-40 width-221 border-style-solid border-1 border-gray-3 border-radius-5">
            <img class="m-r-6 m-l-16 pointer width-16 height-16 " src="/img/search.svg" alt="">
            <input class="border-0 outline-none font-roboto font-w-400 color-gray-1 " placeholder="Buscar" type="text" name="" id="">
        </div>
         <div class="flex p-10 bg-gray-1-hover bg-gray-3 border-radius-5 pointer">
            <img class=" pointer" src="/img/file-download.svg" alt="">
            
        </div>
    </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "BuscarArchivo",
  props: {
    title1: String,
    money:String,
    text:String,
    text1:String,
    date:String,
    title2:String,
    title3:String,
    date1:String
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.313rem !important ;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.313rem !important ;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










