
<template>
  <div class="m-v-24 m-h-24 ">                
        <div class="flex  m-b-24">
            <div
                class=" p-h-80 flex-justify-between  flex border-style-solid border-radius-5 border-white-line border-1 m-r-24 m-b-20">
                <div class="p-v-22 flex width-400">
                    <h3 class="text-left font-poppins width-200 font-24 font-w-700 color-gray-1">
                        Total disponible para retirar
                    </h3>
                    <div>
                        <span class="font-24 font-poppins font-w-700 color-gray-4 d-block">
                        $2.500.000
                    </span>
                    <span class="font-14 font-roboto font-w-400 color-gray-4 d-block">
                        Actualizado el 12/03/2021
                    </span>
                    </div>
                </div>

                <div class="width-1 heigth-50 bg-gray-3 m-v-20"></div>

                <div class="p-v-22 width-400">
                    <h3 style="text-align:justify;" class="font-14 font-w-400 color-gray-1 font-roboto m-h-20">
                        Este dinero corresponde a clientes nuevos referidos por ti, más los ingresos por transporte en caso de utilizar este servicio. Ten en cuenta que al solicitarlo se desembolsará el dinero a la cuenta bancaria que selecciones. 
                    </h3>
                    
                    
                </div>
                 <div class="p-v-22 width-400 flex flex-align-center flex-justify-center">
                   
                    <div class="flex flex-justify-center flex-align-center">
                        <h3
                            class="bg-red-1 color-white font-16 font-roboto font-w-700 p-v-10 p-h-16 flex-justify-center flex width-184 border-radius-5 m-r-16 pointer bg-gray-1-hover ">
                            Solicitar desembolso
                        </h3>
                        
                    </div>
                </div>
            </div>
            
        </div>    
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "DisTotal",
  props: {
    title: String,
    img: String,
    select:String,
    select1:String,
    select2:String,
    label1:String,
    label2:String,
    label3:String,
    label4:String,
    label5:String,
    label6:String,
    label7:String,
    label8:String,
    label9:String,
    label10:String,
    label11:String,
    label12:String,
    label13:String,
    label14:String,
   

},
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.313rem !important ;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.313rem !important ;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










