<template>
  <div
    class="
      m-v-24 m-h-24 
      flex
      
      flex
      border-1 border-style-solid border-radius-5 border-gray-3
      p-10
      flex-align-center
    "
  >
    <div class="flex width-p-100 m-b-11">
      <div class="flex flex-justify-start flex-align-center flex-3">
        <h2 class="font-roboto font-w-700 font-18 color-gray-1">
          Embudo comercial
        </h2>
      </div>
      <div class="flex flex-9 flex-justify-right">
        <div class="m-h-20">
          <div class="flex flex-align-center">
            <img class="m-r-5 width-20" src="/img/wdw.svg" alt="" />
            <h2 class="font-roboto font-w-400 font-14 color-gray-3">
              Aumentaron operación
            </h2>
          </div>
          <div class="flex flex-align-center m-v-2">
            <h2 class="font-roboto font-w-700 font-18 color-gray-4 m-r-3">
              Total
            </h2>
            <h2 class="font-roboto font-w-700 font-18 color-gray-1">350</h2>
            <div
              class="
                width-1
                border-0 border-style-solid border-gray-3
                height-20
                border-r-1
                m-h-5
              "
            ></div>
            <img class="m-r-5 width-20" src="/img/tel1w.svg" alt="" />
            <h2 class="font-roboto font-w-700 font-18 color-gray-1">20</h2>
          </div>
        </div>
        <div
          class="
            width-1
            border-0 border-style-solid border-gray-3
            height-50
            border-r-1
            m-h-5
          "
        ></div>
        <div class="m-h-20">
          <div class="flex flex-align-center">
            <img class="m-r-5 width-20" src="/img/s-circle-down.svg" alt="" />
            <h2 class="font-roboto font-w-400 font-14 color-gray-3">
              Disminuyeron operación
            </h2>
          </div>
          <div class="flex flex-align-center m-v-2">
            <h2 class="font-roboto font-w-700 font-18 color-gray-4 m-r-3">
              Total
            </h2>
            <h2 class="font-roboto font-w-700 font-18 color-gray-1">350</h2>
            <div
              class="
                width-1
                border-0 border-style-solid border-gray-3
                height-20
                border-r-1
                m-h-5
              "
            ></div>
            <img class="m-r-5 width-20" src="/img/tel1w.svg" alt="" />
            <h2 class="font-roboto font-w-700 font-18 color-gray-1">20</h2>
          </div>
        </div>
        <div
          class="
            width-1
            border-0 border-style-solid border-gray-3
            height-50
            border-r-1
            m-h-5
          "
        ></div>
        <div class="m-h-20">
          <div class="flex flex-align-center">
            <h2 class="font-roboto font-w-400 font-14 color-gray-3">
              Pendientes cancelación
            </h2>
          </div>
          <div class="flex flex-align-center m-v-2">
            <h2 class="font-roboto font-w-700 font-18 color-gray-4 m-r-3">
              Total
            </h2>
            <h2 class="font-roboto font-w-700 font-18 color-gray-1">350</h2>
            <div
              class="
                width-1
                border-0 border-style-solid border-gray-3
                height-20
                border-r-1
                m-h-5
              "
            ></div>
            <img class="m-r-5 width-20" src="/img/tel1w.svg" alt="" />
            <h2 class="font-roboto font-w-700 font-18 color-gray-1">20</h2>
          </div>
        </div>
        <div
          class="
            width-1
            border-0 border-style-solid border-gray-3
            height-50
            border-r-1
            m-h-5
          "
        ></div>
        <div class="m-h-20">
          <div class="flex flex-align-center">
            <h2 class="font-roboto font-w-400 font-14 color-gray-3">
              Pendientes info. Tributaria
            </h2>
          </div>
          <div class="flex flex-align-center m-v-2">
            <h2 class="font-roboto font-w-700 font-18 color-gray-4 m-r-3">
              Total
            </h2>
            <h2 class="font-roboto font-w-700 font-18 color-gray-1">350</h2>
          </div>
        </div>
        <div
          class="
            width-1
            border-0 border-style-solid border-gray-3
            height-50
            border-r-1
            m-h-5
          "
        ></div>
        <div class="m-h-20">
          <div class="flex flex-align-center">
            <h2 class="font-roboto font-w-400 font-14 color-gray-3">Otros</h2>
          </div>
          <div class="flex flex-align-center m-v-2">
            <img class="m-r-5 width-30" src="/img/cel2.svg" alt="" />
            <h2 class="font-roboto font-w-700 font-18 color-gray-1">1</h2>
            <div
              class="
                width-1
                border-0 border-style-solid border-gray-3
                height-20
                border-r-1
                m-h-5
              "
            ></div>
            <img class="m-r-5 width-20" src="/img/tel1w.svg" alt="" />
            <h2 class="font-roboto font-w-700 font-18 color-gray-3">20</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-align-center width-p-100 flex-justify-between">
      <div class="">
        <h2 class="font-24 font-poppins font-w-700 color-gray-3">600</h2>
        <h2 class="font-16 font-roboto font-w-700 color-gray-1">Potencial</h2>
        <div
          style="background: #f7dfe5"
          class="
            m-v-5
            p-5
            flex
            border-red-1 border-1 border-style-solid border-radius-5
            flex flex-align-center
          "
        >
          <h2 class="font-12 font-roboto font-w-400 color-gray-1 m-r-5">
            Sin contactar
          </h2>
          <h2 class="font-12 font-roboto font-w-700 color-gray-1">4</h2>
        </div>
      </div>
      <div
        class="
          width-1
          border-0 border-style-solid border-orange
          height-70
          border-r-3
          m-h-10
        "
      ></div>
       <div class="">
        <h2 class="font-24 font-poppins font-w-700 color-gray-3">600</h2>
        <h2 class="font-16 font-roboto font-w-700 color-gray-1">Potencial</h2>
        <div
          style="background: #f7dfe5"
          class="
          flex-align-center flex
          flex-justify-center
            m-v-5
            p-5
            flex
            border-red-1 border-1 border-style-solid border-radius-5
          "
        >
          <h2 class="font-12 font-roboto font-w-400 color-gray-1 m-r-5">
            Lead
          </h2>
          <h2 class="font-12 font-roboto font-w-700 color-gray-1">4</h2>
        </div>
      </div>
      <div
        class="
          width-1
          border-0 border-style-solid border-yellow-1
          height-70
          border-r-3
          m-h-10
        "
      ></div>
        <div class="">
        <div class="flex flex-align-center text-left flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-7">Sin <br> registrar</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">Registrado</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">Listo para <br>comenzar</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        
      </div>
        <div class="">
        <h2 class="font-24 font-poppins font-w-700 color-gray-3">600</h2>
        <h2 class="font-16 font-roboto font-w-700 color-gray-1">Activos</h2>
        <div
          style="background: #f7dfe5"
          class="
            m-v-5
            p-5
            flex
            border-red-1 border-1 border-style-solid border-radius-5
          "
        >
          <h2 class="font-12 font-roboto font-w-400 color-gray-1 m-r-5">
            Lead
          </h2>
          <h2 class="font-12 font-roboto font-w-700 color-gray-1">4</h2>
        </div>
      </div>
      <div
        class="
          width-1
          border-0 border-style-solid border-green-1
          height-70
          border-r-3
          m-h-10
        "
      ></div>
      <div class="">
        <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">15 días </h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">30 días</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">≥ 60 días</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        
      </div>
        <div class="">
        <h2 class="font-24 font-poppins font-w-700 color-gray-3">600</h2>
        <h2 class="font-16 font-roboto font-w-700 color-gray-1">Inactivos</h2>
       
      </div>
      <div
        class="
          width-1
          border-0 border-style-solid border-red-1
          height-70
          border-r-3
          m-h-10
        "
      ></div>
      <div class="">
        <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">Cartera</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">Cobro jurídico</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">Cobro prejurídico</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        
      </div>
        <div class="">
        <h2 class="font-24 font-poppins font-w-700 color-gray-3">600</h2>
        <h2 class="font-16 font-roboto font-w-700 color-gray-1">Perdido</h2>
       
      </div>
      <div
    style=""
        class="
          width-1
          border-0 border-style-solid border-red-1
          height-70
          border-r-3
          m-h-10
        "
      ></div>
      <div class="">
        <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">Rechazo oferta</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">Cancelada</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">Cancelada (p)</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
         <div class="flex flex-align-center flex-justify-between">
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-r-3">Vedado</h2>
            <h2 class="font-16 font-roboto font-w-700 color-gray-3">600</h2>
        </div>
        
      </div>
    </div>
    
  </div>
</template>

<script>
export default {
  name: "InfoEmpresa3",
  props: {
    img: String,
    title: String,
    title1: String,
  },
};
</script>




