<template>
  <header
    id="header"
    class="flex bg-red-1 pos-f z-index-9 width-p-100 top-0 left-0 p-v-20 ">
    <div class="p-h-10 flex container">
      <div class="flex-6 flex">
        <a href="/">
          <img class="width-135" :src="img" />
        </a>
      </div>
      <div class="flex-6 flex flex-align-center flex-justify-right">
        <a href="#">
          <img class="flex " :src="img1" />
        </a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "EncabezadoPrincipal",
  props: {
    img: String,
    img1:String,
  },
};
</script>


