<template>
  <div class="hello m-v-24 m-h-24 ">
    <div
      class="
        m-b-24
        flex flex-justify-around
        bg-white-2
        border-gray-1
        border-b-0
        border-t-2
        border-r-0
        border-l-0
        border-style-solid
        border-gray-3
        border-radius-5
        pointer
      "
    >
      <div
      style="border-right:1px solid #E2E2E2; border-left:1px solid #E2E2E2;"
        v-for="(item, index) in titles"
        :key="index"
        v-on:click="clickItem(index)"
        :class="`
            flex-4 flex-justify-center 
            flex
            p-v-15
            border-t-0
            border-r-0
            border-l-0
            border-style-solid
            border-red-1
           
            
            
            ${active == index ? `border-b-7   ` : `border-b-0`}
          `"
      >
        <h2
          :class="`
          font-roboto 
          font-w-700 
          font-18
        ${active == index ? `color-red-1 ` : `color-gray-3`}
        `"
        >
          {{ item }}
        </h2>
      </div>
    </div>
  </div>
  <div id="contentss" v-html="compile(contents[active])"></div>
 
  
</template>

<script>
import {compile} from "vue";

export default {
  name: "HelloWorld",
  props: {
    defaultActive: Number,
    titles: Array,
    contents: Array,
  },
  data() {
    return {
      active: 0,
      content: 1,
      compile,
    };
  },
  mounted() {
    this.active = this.defaultActive;
  },
  methods: {
    clickItem: function (index) {
      this.active = index;
    },
  },
};
</script>


