<template>
  <div class="m-v-24 m-h-24 ">
    <div class="flex justify-left flex-align-center">
      <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-t-20">
        {{ title }}
      </h2>
    </div>

    <div class="flex  flex-justify-between m-t-20  flex-align-center ">
        <div class="p-h-5 m-b-20 m-r-16 border-1 border-radius-5 border-style-solid border-gray-3 flex flex-align-center">
          <img src="/img/filter.svg" alt="">
          <select
            class="
              width-200
              height-40
              p-h-5 p-v-5
              outline-none
              
              color-black
              bg-transparent
              border-0
            "
            name="cars"
            id="cars"
          >
            
            <option
              class="font-roboto font-14 font-w-400"
              value="none"
              selected
              disabled
              hidden
            >
              Asesor
            </option>
            <option class="color-gray-3" value="free">Asesor</option>
            <option class="color-gray-3" value="starter">Asesor</option>
            <option class="color-gray-3" value="professional">Asesor</option>
          </select>
        </div>
        <div class="p-h-5 m-b-20 m-r-16 border-1 border-radius-5 border-style-solid border-gray-3 flex flex-align-center">
          <img src="/img/filter.svg" alt="">
          <select
            class="
              width-200
              height-40
              p-h-5 p-v-5
              outline-none
              
              color-black
              bg-transparent
              border-0
            "
            name="cars"
            id="cars"
          >
            
            <option
              class="font-roboto font-14 font-w-400"
              value="none"
              selected
              disabled
              hidden
            >
              Estado
            </option>
            <option class="color-gray-3" value="free">Estado</option>
            <option class="color-gray-3" value="starter">Estado</option>
            <option class="color-gray-3" value="professional">Estado</option>
          </select>
        </div>
        <div class="p-h-5 m-b-20 m-r-16 border-1 border-radius-5 border-style-solid border-gray-3 flex flex-align-center">
          <img src="/img/filter.svg" alt="">
          <select
            class="
              width-200
              height-40
              p-h-5 p-v-5
              outline-none
              
              color-black
              bg-transparent
              border-0
            "
            name="cars"
            id="cars"
          >
            
            <option
              class="font-roboto font-14 font-w-400"
              value="none"
              selected
              disabled
              hidden
            >
              Tipo de historico
            </option>
            <option class="color-gray-3" value="free">Tipo de historico</option>
            <option class="color-gray-3" value="starter">Tipo de historico</option>
            <option class="color-gray-3" value="professional">Tipo de historico</option>
          </select>
        </div>
        <div class="m-r-16 m-b-24">
          
          <input
            class="
              border-gray-3
              outline-none
              p-v-10 p-h-16
              border-radius-5 border-1 border-style-solid
              font-roboto font-w-400 font-12
              color-gray-1
            "
            type="date"
          />
        </div>
         <div class="m-r-16 m-b-24">
          
          -
        </div>
        <div class="m-r-16 m-b-24">
          
          <input
            class="
              border-gray-3
              outline-none
              p-v-10 p-h-16
              border-radius-5 border-1 border-style-solid
              font-roboto font-w-400 font-12
              color-gray-1
            "
            type="date"
          />
        </div> 
    </div>
    <div class="flex flex-justify-between p-20 border-1 border-gray-3 border-radius-5 m-h-40 border-style-solid bg-white-2">
        <div class="flex flex-4 flex-align-center flex-justify-center">
            <div class="border-style-solid border-1 border-gray-3 bg-white border-radius-5 p-10">
                <h2 class="font-roboto font-w-700 font-16 text-left m-b-5 color-gray-1">
                    10 Marzo 2022 10:03:55
                </h2>
                <div class="flex m-b-5">
                    <h2 class="font-roboto font-w-700 font-14 m-r-5 color-gray-1">
                        Inscripción cuenta bancaria: 
                    </h2>
                     <h2 class="font-roboto font-w-400 font-14 m-r-5 color-gray-1">
                        Santiago Hernandez 
                    </h2>
                    
                </div>
                <h2 class="font-roboto font-w-700 font-14 text-left m-b-5 color-gray-1">
                    Bancolombia - Cuenta de ahorros 72860882974 
                </h2>
            </div>
        </div>
        <div class=" flex-2">
            <div class="">
                <div  class="p-v-30 z-index-2">
                    <img src="/img/phone1.png" alt="">
                </div>
                <div class="p-v-30">
                    <img src="/img/money1.png" alt="">
                </div>
                <div class="p-v-30">
                    <img src="/img/account1.png" alt="">
                </div>
            </div>
        </div>
        <div class="flex flex-4 ">
             <div class="width-p-100 m-v-10 height-150 border-style-solid border-1 border-gray-3 bg-white border-radius-5 p-10">
                <h2 class="font-roboto font-w-700 font-16 text-left m-b-5 color-gray-1">
                    10 Marzo 2022 10:03:55
                </h2>
                <div class="flex m-v-5 ">
                    <div class="m-h-2 bg-orange p-5 font-roboto font-w-400 font-12 color-gray-1 border-radius-5">
                        R0 - Potencial - A
                    </div>
                    <div class="m-h-2 bg-white border-style-solid border-1 border-gray-3 p-5 font-roboto font-w-400 font-12 color-gray-1 border-radius-5">
                        Sin contacto
                    </div>
                     <div class="flex flex-align-center">
                        <img src="/img/ee.svg" alt="">
                    </div>
                    <div class="m-h-2 bg-orange p-5 font-roboto font-w-400 font-12 color-gray-1 border-radius-5">
                        R0 - Potencial - A
                    </div>
                    <div class="m-h-2 bg-white border-style-solid border-1 border-gray-3 p-5 font-roboto font-w-400 font-12 color-gray-1 border-radius-5">
                        Sin respuesta
                    </div>
                </div>
                <div class="flex m-b-5">
                    <h2 class="font-roboto font-w-700 font-14 m-r-5 color-gray-1">
                        Observaciones
                    </h2>
                     <h2 class="font-roboto font-w-400 font-14 m-r-5 color-gray-1">
                       El cliente no contesto a la llamada
                    </h2>
                    
                </div>
                <div class="flex m-b-5">
                    <h2 class="font-roboto font-w-700 font-14 m-r-5 color-gray-1">
                        Próxima fecha de contacto:
                    </h2>
                     <h2 class="font-roboto font-w-400 font-14 m-r-5 color-gray-1">
                       10 Marzo 2022 10:03:55
                    </h2>
                    
                </div>
            </div>
            <div class="width-p-100 m-v-10 height-80 border-style-solid border-1 border-gray-3 bg-white border-radius-5 p-10">
                <h2 class="font-roboto font-w-700 font-16 text-left m-b-5 color-gray-1">
                    10 Marzo 2022 10:03:55
                </h2>
                <div class="flex m-v-5 width-p-100">
                    <div class="m-h-2 bg-orange p-5 font-roboto font-w-400 font-12 color-gray-1 border-radius-5">
                        R0 - Potencial - A
                    </div>
                    <div class="flex flex-align-center">
                        <img src="/img/ee.svg" alt="">
                    </div>
                    <div class="m-h-2 bg-yellow-1 p-5 font-roboto font-w-400 font-12 color-gray-1 border-radius-5">
                        R0 - Potencial - A
                    </div>
    
                </div>
            </div>

        </div>

    </div>
  </div>
</template>

<script>
import { compile } from "vue";

export default {
  name: "HistorialGestion2",
  props: {
    title: String,
    date1: String,
    date2: String,
    select:String,
    option1:String,
    option2:String,
    option3:String,
  },
  data() {
    return {
      active: 0,
      content: 1,
      compile,
    };
  },
  mounted() {
    this.active = this.defaultActive;
  },
  methods: {
    clickItem: function (index) {
      this.active = index;
    },
  },
};
</script>





  
  





