<template>
  <div class="m-v-24 m-h-24 ">
    <div class="flex justify-left flex-align-center">
      <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-t-20">
        {{ title }}
      </h2>
    </div>

    <div class="flex  flex-justify-between m-t-20  flex-align-center ">
      <div class="m-b-20 m-r-16">
          <label class="font-14 font-roboto font-w-400 color-gray-1 m-r-8"
            >{{select}}</label
          >
          <select
            class="
              width-80
              height-40
              p-h-5 p-v-5
              outline-none
              border-radius-5 border-gray-3 border-1 border-style-solid
              color-black
              bg-transparent
            "
            name="cars"
            id="cars"
          >
            <option
              class="font-roboto font-14 font-w-400"
              value="none"
              selected
              disabled
              hidden
            >
              Todas
            </option>
            <option class="color-gray-3" value="free">{{option1}}</option>
            <option class="color-gray-3" value="starter">{{option2}}</option>
            <option class="color-gray-3" value="professional">{{option3}}</option>
          </select>
        </div>
        <div class="m-r-16 m-b-24">
          <input
            class="
              border-gray-3
              outline-none
              p-v-10 p-h-16
              border-radius-5 border-1 border-style-solid
              font-roboto font-w-400 font-16
              color-gray-1
              bg-white
              border-radius-5 border-style-solid border-1 border-gray-1
            "
            type="submit"
            value="Ver cambio de asesores"
          />
        </div>
        <div class="m-r-16 m-b-24">
          <input
            class="
              border-gray-3
              outline-none
              p-v-10 p-h-16
              border-radius-5 border-1 border-style-solid
              font-roboto font-w-400 font-16
              color-gray-1
              bg-white
              border-radius-5 border-style-solid border-1 border-gray-1
            "
            type="submit"
            value="Ver promociones"
          />
        </div>
        <div class="m-r-16 m-b-24">
          <label class="font-14 font-roboto font-w-400 color-gray-1 m-r-5">{{
            date1
          }}</label>
          <input
            class="
              border-gray-3
              outline-none
              p-v-10 p-h-16
              border-radius-5 border-1 border-style-solid
              font-roboto font-w-400 font-16
              color-gray-1
              font-roboto font-12
            "
            type="date"
          />
        </div>
        <div class="m-r-16 m-b-24">
          <label class="font-14 font-roboto font-w-400 color-gray-1 m-r-5">{{
            date2
          }}</label>
          <input
            class="
              border-gray-3
              outline-none
              p-v-10 p-h-16
              border-radius-5 border-1 border-style-solid
              font-roboto font-w-400 font-16
              color-gray-1
              font-roboto font-12
            "
            type="date"
          />
        </div>
        <div class="m-b-24">
          <input
            class="
              outline-none
              border-radius-5
              bg-red-1
              border-0
              font-roboto font-w-700 font-16
              color-white
              p-v-10 p-h-16
              bg-gray-1-hover
            "
            value="Buscar"
            type="submit"
          />
        </div>
    </div>
  </div>
</template>

<script>
import { compile } from "vue";

export default {
  name: "HistorialGestion",
  props: {
    title: String,
    date1: String,
    date2: String,
    select:String,
    option1:String,
    option2:String,
    option3:String,
  },
  data() {
    return {
      active: 0,
      content: 1,
      compile,
    };
  },
  mounted() {
    this.active = this.defaultActive;
  },
  methods: {
    clickItem: function (index) {
      this.active = index;
    },
  },
};
</script>





  
  





