<template>
  <div class="m-v-24 m-h-24  flex ">
    <div class=" flex flex-align-center">
      <div
        class="
          m-r-14
        "
      >
        <img alt="Vue logo" src="/img/aco.png" />
      </div>
      <div class="flex flex-align-end">
        <h2 class="m-r-8 font-poppins font-w-700 font-32 color-gray-1">
          {{title}}
        </h2>
        
      </div>
      <div class="m-h-20 flex flex-align-center p-10 pointer border-style-solid border-1 border-gray-3 border-radius-5 ">
          <img class="m-r-5" src="/img/play1.svg" alt="">
        <h2 class="m-r-8 font-roboto font-w-700 font-14 color-gray-1">
          {{title1}}
        </h2>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InfoEmpresa2",
  props: {
    img: String,
    title:String,
    title1:String,
    
   
  },
};
</script>




