<template>
  <div class="m-v-24 m-h-24 flex">
    <div class="flex-5 flex flex-justify-between  border-1 border-style-solid border-gray-3 border-radius-5">
      <div class="text-align-left ">
        
        <div
          class="
            height-64
            flex text-align-left 
            p-v-16 p-h-20
            
          "
        >
          <h2 class="font-16 font-roboto font-w-700 color-gray-1">
            Resumen cliente  
          </h2>  
        </div>
        <div
          class="
            
            height-64
            flex-align-start flex-justify-left
            p-v-16 p-h-20
            border-r-1 border-0 border-style-solid border-gray-3
            
          "
        >
          
          <h2 class="font-14 font-w-400 font-roboto color-gray-4 flex">
            {{ subTitle1 }}
          </h2>
          <h2 class="font-poppins font-18 font-w-700 color-gray-1 m-r-20 text-align-left flex">
            {{ title1 }}
          </h2>
        </div>
        <div
          class="
            m-b-16
            height-64
            flex-align-center flex-justify-center
            p-v-16 p-h-20
            border-r-1 border-0 border-style-solid border-gray-3
            
          "
        >
          <h2 class="font-roboto font-14 font-w-400 color-gray-4  flex">
            Tipo de cliente 
          </h2>
          <h2 class="font-18 font-w-700 font-poppins color-gray-1 flex">
            AA
          </h2>
        </div>
      </div>
      <div class="">
        <div
          class="
            
            height-64
            flex flex-align-center
            p-v-16 p-h-20
            
          "
        >
           
        </div>
        <div
          class="
            
            height-64
             flex-align-start flex-justify-center
            p-v-10 p-h-10
            border-r-1 border-0 border-style-solid border-gray-3
            
          "
        >
          <div>
              <label class=" font-w-400 font-roboto font-14 flex color-gray-4" >
                Transportadora Envia
                </label>
              <div class="flex">
                   <select
                  class="
                    width-50
                    p-h-5 
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                 
                  <option class="color-gray-3" value="free">Si</option>
                  <option class="color-gray-3" value="starter">No</option>
              </select>
              <div class="width-100 border-radius-5 bg-gray-1 flex flex-align-center flex-justify-center  m-h-5">
                  <h1 class="font-w-700 font-roboto font-14 color-white p-5">
                    Ver oferta
                  </h1>
              </div>
              </div>

          </div>
        </div>
        <div
          class="
            m-b-16
            height-64
            flex flex-align-center flex-justify-left
            p-v-10 p-h-10
            border-r-1 border-0 border-style-solid border-gray-3
            
          "
        >
           <div>
              <label class=" font-w-400 font-roboto font-14  color-gray-4 flex" >Estado del cliente</label>
              <div class="flex">
              <div class="width-130 border-radius-5 bg-orange flex flex-align-center flex-justify-center ">
                  <h1 class="font-w-700 font-roboto font-12 color-white p-h-15 p-v-5">
                    R0 - Potencial - A
                  </h1>
              </div>
              </div>

          </div>
        </div>
      </div>
      <div class="">
        <div
          class="
            height-64
            flex flex-align-center flex-justify-center
            p-v-10 p-h-10
            
          "
        >
          
        </div>
        <div
          class="
            
            height-64
            flex-align-center
            p-v-10 p-h-10
            text-left
            
          "
        >
          <h2
            class="width-100 font-16 font-w-400 font-roboto color-gray-4 m-r-10 m-b-5"
          >
            Complejidad
          </h2>
          <h2 class="width-100 font-18 font-w-700 font-roboto color-gray-1">
            Alta
          </h2>
        </div>
        <div
          class="
           
            height-64
             flex-align-center flex-justify-center
            p-v-10 p-h-10
            
          "
        >
          <h2 class="font-roboto font-18 font-w-400 color-gray-4 m-r-20">
            Nivel satisfacción
          </h2>
          <div class="flex">
            <img class="m-r-5" src="/img/hapi.svg" alt="">
            <h2 class="font-14 font-w-700 font-roboto color-gray-1">
              85%
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-7">
      <div
        class="
          m-l-40
          overflow-auto
          border-1
          flex flex-justify-center
          border-style-solid border-gray-3 border-radius-10
        "
      >
        <table class="width-p-100 height-222">
          <thead
            :class="`width-p-100
              border-style-solid border-t-1 border-b-1 border-gray-2 border-0 
              `"
          >
            <th v-for="(item, index) in tablaTitles" :key="index" class="p-8 border-style-solid border-0 border-b-1 border-gray-3 " >
              <div
                class="
                  flex-justify-center flex
                  color-gray-1
                  font-roboto font-w-700 font-14
                  text-center
                  
                 
                "
              >
                {{item}}
              </div>
            </th>
          </thead>
          <tbody
            :class="`border-0 `"
          >
            <tr v-for="(item, index) in tablaItems" :key="index">
              <td v-for="(value,key) in item " :key="key" class="p-8">
                <div
                  class="
                    flex-justify-center flex
                    color-gray-1
                    font-roboto font-w-700 font-14
                    text-center
                    
                  "
                >
                  {{value}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
              <div class="flex flex-align-center">
        <h2 class="font-12 font-roboto font-w-400 color-gray-4 m-r-5">
          {{button}}
        </h2>
        <div class="">
          <button
            class="bg-transparent border-0"
            v-on:click.stop.prevent="toggleBodyHeader()"
          >
            
          </button>
        </div>
      </div>
      </div>

    </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "InformacionGeneral",
  props: {
    title1: String,
    select1: String,
    select2: String,
    title3: String,
    title4: String,
    title5: String,
    title6: String,
    subTitle1: String,
    subTitle2: String,
    subTitle3: String,
    subTitle4: String,
    subTitle5: String,
    subTitle6: String,
    button:String,

    tablaTitles: Array,
    tablaItems: Array,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>




