<template>
  <div class="m-v-24 m-h-24 ">
    <table class="border-white-3 width-p-100" style="min-width: 1000px">
      <thead
        :id="`headerTable-${id}`"
        :class="`width-p-100 border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <th colspan="3">
            <div
              class="
                flex-align-center flex flex-justify-start
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-1
                border-t-1
                border-t-l-radius-5
                font-roboto font-w-700 font-18
                color-gray-1
              "
            >
              {{ title }}
            </div>
          </th>
          <th>
            <div
              class="
                flex flex-justify-right flex-align-center
                height-65
                p-h-10 p-v-10
                border-style-solid
                border-0
                border-gray-3
                border-r-1
                border-t-1
                border-t-r-radius-5
              "
            >
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <img class="" :src="img" alt="" />
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-0 bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="" >
            <div
              class="
                flex flex-justify-left flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
               
              "
            >
              <div class="">
                <label
                  class="
                    d-block
                    font-14 font-w-400 font-roboto
                    color-gray-1
                    m-b-5
                  "
                >
                  Celular de verificación para la inscripción de cuentas y
                  transferencias *
                </label>
                <input
                  class="
                    border-gray-3 border-radius-5 border-style-solid border-1
                    p-h-10 p-v-10
                    width-448
                    outline-none
                  "
                  type="text"
                />
              </div>
            </div>
          </td>
          <td class="" >
            <div
              class="
                flex flex-justify-left flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-0
                border-b-0
                
               
              "
            >
            <div class="width-800 border-1 border-radius-5 border-style-solid border-gray-3 p-5">
              <h2 class="font-roboto font-w-700 font-18 color-gray-1 text-left border-b-2 p-v-8 border-0 border-style-solid border-gray-3">
                Cuentas inscritas
              </h2>
              <div class="width-p-100 overflow-auto height-max-170 ">
              <table  class="width-p-100" id="tabla2 ">
                  <tr>
                    <td>
                      <div class="flex p-v-15">
                        <h2 class="font-roboto font-w-700 font-16 color-gray-1 m-r-5">
                          Santiago Hernandez
                        </h2>
                        <h2 class="font-roboto font-w-400 font-16 color-gray-1">
                          Bancolombia - Cuenta de ahorros 72860882974 
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="flex p-v-15">
                        <h2 class="font-roboto font-w-400 font-16 color-gray-3 m-r-5">
                          Inscrita Lunes 22/04/2022
                        </h2>
                        <img class="width-16 height-16" src="/img/star.svg" alt="">
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <td>
                      <div class="flex p-v-15">
                        <h2 class="font-roboto font-w-700 font-16 color-gray-1 m-r-5">
                          Santiago Hernandez
                        </h2>
                        <h2 class="font-roboto font-w-400 font-16 color-gray-1">
                          Bancolombia - Cuenta de ahorros 72860882974 
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="flex p-v-15">
                        <h2 class="font-roboto font-w-400 font-16 color-gray-3 m-r-5">
                          Inscrita Lunes 22/04/2022
                        </h2>
                        <img class="width-16 height-16" src="/img/star-gray.svg" alt="">
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <td>
                      <div class="flex p-v-15">
                        <h2 class="font-roboto font-w-700 font-16 color-gray-1 m-r-5">
                          Santiago Hernandez
                        </h2>
                        <h2 class="font-roboto font-w-400 font-16 color-gray-1">
                          Bancolombia - Cuenta de ahorros 72860882974 
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="flex p-v-15">
                        <h2 class="font-roboto font-w-400 font-16 color-gray-3 m-r-5">
                          Inscrita Lunes 22/04/2022
                        </h2>
                        <img class="width-16 height-16" src="/img/star-gray.svg" alt="">
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <td>
                      <div class="flex p-v-15">
                        <h2 class="font-roboto font-w-700 font-16 color-gray-1 m-r-5">
                          Santiago Hernandez
                        </h2>
                        <h2 class="font-roboto font-w-400 font-16 color-gray-1">
                          Bancolombia - Cuenta de ahorros 72860882974 
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="flex p-v-15">
                        <h2 class="font-roboto font-w-400 font-16 color-gray-3 m-r-5">
                          Inscrita Lunes 22/04/2022
                        </h2>
                        <img class="width-16 height-16" src="/img/star-gray.svg" alt="">
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <td>
                      <div class="flex p-v-15">
                        <h2 class="font-roboto font-w-700 font-16 color-gray-1 m-r-5">
                          Santiago Hernandez
                        </h2>
                        <h2 class="font-roboto font-w-400 font-16 color-gray-1">
                          Bancolombia - Cuenta de ahorros 72860882974 
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="flex p-v-15">
                        <h2 class="font-roboto font-w-400 font-16 color-gray-3 m-r-5">
                          Inscrita Lunes 22/04/2022
                        </h2>
                        <img class="width-16 height-16" src="/img/star-gray.svg" alt="">
                      </div>
                    </td>
                    
                  </tr>
                </table>

              </div>
            </div>
              
            </div>
          </td>
          <td class="" colspan="8">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-left
               
              "
            >
              <table id="tabla2">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
                
              "
            ></div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center
                border-0 border-b-0 border-style-solid border-gray-3
              "
            ></div>
          </td>
          <td class="" colspan="4">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                
              "
            ></div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
                
              "
            ></div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center
                border-0 border-b-0 border-style-solid border-gray-3
              "
            ></div>
          </td>
          <td class="" colspan="4">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                
              "
            ></div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-1
                border-b-l-radius-5
              "
            ></div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            ></div>
          </td>
          <td class="" colspan="4">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-1
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                border-b-r-radius-5
              "
            ></div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "InformacionBancaria",
  props: {
    title: String,
    img: String,
    title1: String,
    
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.313rem !important ;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.313rem !important ;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










