<template>
  <div class="m-v-24 m-h-24  flex ">
    <div class="flex-6 flex flex-align-center">
      <div
        class="
          m-r-14
        "
      >
        <img alt="Vue logo" src="/img/aco.png" />
      </div>
      <div class="flex flex-align-end">
        <h2 class="m-r-8 font-poppins font-w-700 font-32 color-gray-1">
          {{title}}
        </h2>
        
      </div>
      
    </div>
    <div class="flex-6 flex flex-align-center flex-justify-right">
      <div
        class="
          m-r-14
        "
      >
      </div>
      <div class="flex flex-align-center ">
       
     <input class="m-h-20  font-roboto color-gray-1 font-12 border-gray-3 border-style-solid border-radius-5 border-1 p-10 outline-none" type="date" name="" id="">
      -
         <input class="m-h-20 font-roboto font-12 border-gray-3 border-style-solid border-radius-5 border-1 p-10 outline-none color-gray-1" type="date" name="" id="">
      </div>
      
    </div>
  </div>
</template>

<script>
export default {
  name: "InfoEmpresa3",
  props: {
    img: String,
    title:String,
    title1:String,
    
   
  },
};
</script>




