<template>
  <div class="m-v-24 m-h-24 flex ">
    <div class=" flex flex-align-center">
      <div
        class="
          m-r-14 m-l-5
        "
      >
        <img alt="Vue logo" src="../img/account.svg" />
      </div>
      <div class="flex flex-align-end">
        <h2 class="m-r-8 font-poppins font-w-700 font-32 color-gray-1">
          {{title}}
        </h2>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InfoEmpresa",
  props: {
    img: String,
    title:String,
    
   
  },
};
</script>




