<template>
  <div class=" flex   m-v-24 m-h-24  p-10 flex-align-center">
    <div
      class="
        flex flex-align-center flex-justify-center
        border-1 border-style-solid border-gray-3
        border-radius-5
        pointer
        p-8
        width-221
        m-h-8
      "
    >
        <img class="width-16 height-16" src="/img/search.svg" alt="">
      <input class="border-0 outline-none font-roboto font-14 font-w-400  " placeholder="Buscar" type="text">
    </div>
    <div
      class="
        flex flex-align-center flex-justify-between
        border-1 border-style-solid border-gray-3
        border-radius-5
        pointer
        p-8
        m-h-8
        width-217
      "
    >
        <img src="/img/filter.svg" alt="">
        <select class="border-0 outline-none color-gray-1 font-roboto font-14 font-w-400 bg-transparent width-160" >
            <option value="">Asesor comercial</option>
             <option value="">Asesor comercial</option>
              <option value="">Asesor comercial</option>
        </select>
    </div>
    <div
      class="
        flex flex-align-center flex-justify-between
        border-1 border-style-solid border-gray-3
        border-radius-5
        pointer
        p-8
        m-h-8
        width-217
      "
    >
        <img src="/img/filter.svg" alt="">
        <select class="border-0 outline-none color-gray-1 font-roboto font-14 font-w-400 bg-transparent width-160" >
            <option value="">Asesor logístico</option>
             <option value="">Asesor logístico</option>
              <option value="">Asesor logístico</option>
        </select>
    </div>
   <div
      class="
        flex flex-align-center flex-justify-between
        border-1 border-style-solid border-gray-3
        border-radius-5
        pointer
        p-8
        m-h-8
        
        width-217
      "
    >
        <img src="/img/filter.svg" alt="">
        <select class="border-0 outline-none font-roboto color-gray-1 font-14 font-w-400 bg-transparent width-160" >
            <option value="">Campaña </option>
             <option value="">Campaña </option>
              <option value="">Campaña </option>
        </select>
    </div> 
    <div
      class="
        flex flex-align-center flex-justify-center
       
        pointer
        m-h-8
        p-10
      "
    >
        <h2 class="font-roboto font-w-400 font-14 color-gray-1 m-r-5">Fecha envío presentación</h2>
      <input class="p-8 border-radius-5 outline-none font-roboto font-14 font-w-400 border-1 border-style-solid border-gray-3 font-roboto font-12 color-gray-1" type="date">
    </div>
    
  </div>
</template>

<script>
export default {
  name: "InputEmbudo2",
  props: {
    img: String,
    title: String,
    title1: String,
  },
};
</script>




