<template>
  <div class="m-v-24 m-h-24 flex p-10 flex-align-center">
    <div class="flex flex-8 flex-justify-">
      <div
        class="
          flex flex-align-center flex-justify-center
          bg-white-bg bg-gray-1-hover
          border-radius-5
          pointer
          m-h-8
          p-12
        "
      >
        
        <img class="width-14 height-16  z-index-1" src="/img/calendario.svg" alt="" />
      </div>
      <div
        class="
          flex flex-align-center flex-justify-center
          bg-red-1 bg-gray-1-hover
          border-radius-5
          pointer
          m-h-8
          p-12
        "
      >
        <img class=" width-14 " src="/img/listt.svg" alt="" />
      </div>
      <div
        class="
          flex flex-align-center flex-justify-center
          bg-red-1 bg-gray-1-hover
          border-radius-5
          pointer
          border-radius-5 border-red-1 border-style-solid border-1
          p-5
          m-h-8
        "
        style="background: #f7dfe5"
      >
        <h2 class="font-roboto font-w-400 font-14 m-r-3">Sin contactar</h2>
        <h2 class="font-roboto font-w-700 font-14 m-r-3">4</h2>
        <img class="width-20" src="/img/cel2.svg" alt="" />
      </div>
      <div
        class="
          flex flex-align-center flex-justify-center
          border-radius-5
          pointer
          border-radius-5 border-gray-3 border-style-solid border-1
          p-10
          m-h-8
        "
      >
        <h2 class="font-roboto font-w-400 font-14 m-r-3">Sin respuesta</h2>
        <h2 class="font-roboto font-w-700 font-14 m-r-3">100</h2>
      </div>
      <div
        class="
          flex flex-align-center flex-justify-center
          border-radius-5
          pointer
          border-radius-5 border-gray-3 border-style-solid border-1
          p-10
          m-h-8
        "
      >
        <h2 class="font-roboto font-w-400 font-14 m-r-3">En seguimiento</h2>
        <h2 class="font-roboto font-w-700 font-14 m-r-3">100</h2>
      </div>
      <div
        class="
          flex flex-align-center flex-justify-center
          border-radius-5
          pointer
          border-radius-5 border-gray-3 border-style-solid border-1
          p-10
          m-h-8
        "
      >
        <h2 class="font-roboto font-w-400 font-14 m-r-3">Rechazado</h2>
        <h2 class="font-roboto font-w-700 font-14 m-r-3">100</h2>
      </div>
      <div
        class="
          flex flex-align-center flex-justify-center
          bg-red-1 bg-gray-1-hover
          border-radius-5
          pointer
          border-radius-5 border-gray-3 border-style-solid border-1
          p-10
          m-h-8
          width-160
        "
      >
        <img class="m-r-3" src="img/account2.svg" alt="" />
        <h2 class="font-roboto font-w-700 font-14 color-white">
          Nuevo cliente
        </h2>
      </div>
    </div>
    <div class="flex flex-4"></div>
  </div>
</template>

<script>
export default {
  name: "InfoEmpresa3",
  props: {
    img: String,
    title: String,
    title1: String,
  },
};
</script>




