 <template>
  <div class="m-v-24 m-h-24 ">
    <table class="border-white-3 width-p-100" style="min-width: 1000px">
      <thead
        :id="`headerTable-${id}`"
        :class="`width-p-100 border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <th colspan="3">
            <div
              class="
                flex-align-center flex flex-justify-start
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-1
                border-t-1
                border-t-l-radius-5
                font-roboto font-w-700 font-18
                color-gray-1
              "
            >
              {{ title }}
            </div>
          </th>
          <th>
            <div
              class="
                flex flex-justify-right flex-align-center
                height-65
                p-h-10 p-v-10
                border-style-solid
                border-0
                border-gray-3
                border-r-1
                border-t-1
                border-t-r-radius-5
              "
            >
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <img class="" :src="img" alt="" />
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-0 bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-style-solid
                border-0 
                border-l-1
                border-gray-3
                border-r-0 
              "
            >
              <div class="m-b-16 text-left ">
                  <h2 class="color-gray-1 font-w-400 font-16 font-roboto">
                      Código: 23
                  </h2>
                  <h2 class="color-gray-1 font-w-400 font-16 font-roboto">
                      Clave API: sdkasjdkasdjaksdjaksdj
                  </h2>
              </div>
              <div class="m-b-16 text-left ">
                  <h2 class="color-gray-1 font-w-400 font-16 font-roboto m-b-8">
                      Listado de agentes (Código / Nombre):
                  </h2>
                  <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >7133 - Drummond</label
                >
                <select
                  class="
                  m-b-8
                    width-280
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option class="color-gray-3" value="free">1</option>
                  <option class="color-gray-3" value="starter">2</option>
                  <option class="color-gray-3" value="starter">3</option>
                </select>
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                    
                  "
                  >241 - JUJU Bonos</label
                >
                <select
                  class="
                    width-280
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option class="color-gray-3" value="free">1</option>
                  <option class="color-gray-3" value="starter">2</option>
                  <option class="color-gray-3" value="starter">3</option>
                </select>
                <label
                  class="
                    m-v-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                    
                  "
                  >3237 - Mensajeria</label
                >
                <select
                  class="
                    width-280
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option class="color-gray-3" value="free">1</option>
                  <option class="color-gray-3" value="starter">2</option>
                  <option class="color-gray-3" value="starter">3</option>
                </select>
                <label
                  class="
                    m-v-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                    
                  "
                  >134 - Principal</label
                >
                <select
                  class="
                    width-280
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option class="color-gray-3" value="free">1</option>
                  <option class="color-gray-3" value="starter">2</option>
                  <option class="color-gray-3" value="starter">3</option>
                </select>
                <label
                  class="
                    m-v-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                    
                  "
                  >3238 - Producciones</label
                >
                <select
                  class="
                    width-280
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option class="color-gray-3" value="free">1</option>
                  <option class="color-gray-3" value="starter">2</option>
                  <option class="color-gray-3" value="starter">3</option>
                </select>
                 <label
                  class="
                    m-v-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                    
                  "
                  >3236 - Recolecciones y devoluciones</label
                >
                <select
                  class="
                    width-280
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option class="color-gray-3" value="free">1</option>
                  <option class="color-gray-3" value="starter">2</option>
                  <option class="color-gray-3" value="starter">3</option>
                </select>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-r-0
                border-0 border-gray-3
              "
            >
              <div class="m-b-16 ">
                   <div class="m-b-16 text-left width-512 ">
                        <h2 class="color-gray-1 font-w-400 font-16 font-roboto">
                           Llave de seguridad:
                        </h2>
                        <h2 class="color-gray-1 font-w-400 font-16 font-roboto width-108">
                            sdkasjdkasdjaksdjaksdjkjsdkasjdkasjdkasjdkasjdakksafdsadasdasdasii
                        </h2>
                    </div>
                    <div class="m-b-16 text-left ">
                  
                  <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Endpoint para envio de parametros por medio del webhook:</label
                >
                <input
                  class="
                  m-b-8
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  name="cars"
                  id="cars"
                >
                  
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                    
                  "
                  >Ejemplo de parametros enviados al webhook:</label
                >
                <textarea
                style="resize: none;"
                  class="
                  m-b-8
                    width-448
                    height-200
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  
                  name="cars"
                  id="cars"
                >
                </textarea>
              </div>

              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              <div class="m-b-16 ">
                   <div class="m-b-16 text-left width-512 ">
                        <h2 class="color-gray-1 font-w-400 font-16 font-roboto">
                           Ciudad:
                        </h2>
                        <h2 class="color-gray-1 font-w-400 font-16 font-roboto width-200 ">
                            Medellín (Antioquia)
                        </h2>
                    </div>
                    <div class="m-b-16 text-left ">
                  
                  <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Endpoint para el token de acceso al webhook (en caso de ser necesario):</label
                >
                <input
                  class="
                  m-b-8
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  name="cars"
                  id="cars"
                >
                  
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                    
                  "
                  >Parametros de envio al endpoint del token (en caso de ser necesario):</label
                >
                <textarea
                style=" resize: none;"
                  class="
                  m-b-8
                    width-448
                    height-200
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  
                  name="cars"
                  id="cars"
                >
                </textarea>
              </div>

              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-style-solid
                border-0 
                border-l-1
                border-gray-3
                border-r-0 border-style-solid 
              "
            >
              
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-r-0 border-style-solid
                border-0 border-gray-3
              "
            >
              
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-style-solid
                border-0 
                border-l-1
                border-gray-3
                border-r-0 border-style-solid 
              "
            >
              
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-r-0 border-style-solid
                border-0 border-gray-3
              "
            >
              
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-style-solid
                border-0 
                border-l-1
                border-gray-3
                border-r-0 border-style-solid 
              "
            >
              
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-r-0 border-style-solid
                border-0 border-gray-3
              "
            >
              
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-style-solid
                border-0 
                border-l-1
                border-gray-3
                border-r-0 border-style-solid 
              "
            >
              
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-r-0 border-style-solid
                border-0 border-gray-3
              "
            >
              
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-style-solid
                border-0 
                border-l-1
                border-gray-3
                border-r-0 border-style-solid 
              "
            >
              
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-r-0 border-style-solid
                border-0 border-gray-3
              "
            >
              
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-style-solid
                border-0 
                border-l-1
                border-gray-3
                border-r-0 border-style-solid 
              "
            >
              
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
                border-r-0 border-style-solid
                border-0 border-gray-3
              "
            >
              
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-1
                border-b-l-radius-5
              "
            ></div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            ></div>
          </td>

          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-1
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                border-b-r-radius-5
              "
            ></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "IntegracionesAve",
  props: {
    title: String,
    img: String,
    select:String,
    select1:String,
    select2:String,
    label1:String,
    label2:String,
    label3:String,
    label4:String,
    label5:String,
    label6:String,
    label7:String,
    label8:String,
    date:String,
    linkText:String
   

},
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.313rem !important ;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.313rem !important ;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










