<template>
    <div class=" flex flex-justify-around p-v-20" style="background:#F7DFE5; margin-top:-3px;">
        <div class=" flex flex-justify-center flex-align-center">
         
        
      </div>
      <div class=" flex flex-justify-center flex-align-center">
          <img src="/img/cel2.svg" alt="">
        <h2 class="font-roboto font-w-400 font-14">
            Tienes 5 clientes pendientes de llamar en menos de 60 minutos ver llamadas prioritarias
        </h2>
      </div>
       <div class=" flex flex-justify-center flex-align-center">
         
        <img class="pointer width-10" src="/img/x.svg" alt="">
      </div>
    </div>
</template>

<script>
export default {
  name: "EncabezadoPrincipal",
  props: {
    img: String,
    img1:String,
  },
};
</script>


