<template>
  <div class="m-v-24 m-h-24  flex ">
    <div class=" flex flex-4">
      <div
        class="
          m-r-14
        "
      >
      <div class="border-1 border-radius-5 border-gray-3 p-h-30 p-v-14 border-style-solid">
            <img alt="Vue logo" src="../img/file-image.svg" />
      </div>
        
      </div>
      <div class="">
        <h2 class="m-r-8 font-poppins font-w-700 font-24 color-gray-1">
          {{title}}
        </h2>
        <h2 class="m-r-8 font-roboto font-w-700 font-18 color-gray-3 text-left">
          {{subTitle}}
        </h2>
        
      </div>
    </div>
    <div class=" flex flex-8 flex-align-center flex-justify-right">
      <div
        class="
          
          flex
          p-v-10
          flex-align-center 
        "
      >
        <div class="m-h-4 border-radius-5 bg-red-1 p-h-10 p-v-11 pointer bg-gray-1-hover">
                <img class="width-15 height-15" alt="Vue logo" src="../img/cel.svg" />
        </div>
        <div class="m-h-4 border-radius-5 bg-red-1 p-h-14 p-v-14 bg-gray-3 bg-gray-1-hover">
            <h2 class="color-white font-roboto font-w-700  p-h-18 font-14">
                Ver guías
            </h2>
        </div>
        <div class="m-h-4 border-radius-5 bg-red-1 p-h-14 p-v-14 bg-gray-3 bg-gray-1-hover">
            <h2 class="color-white font-roboto font-w-700  p-h-18 font-14">
                Cotizar envío
            </h2>
        </div>
        <div class=" flex m-h-4 border-radius-5 bg-red-1 p-h-14 p-v-14 bg-gray-3 bg-gray-1-hover">
            <img class="width-15 height-15" src="/img/venta.svg" alt="">
            <h2 class=" color-white font-roboto font-w-700  p-h-18 font-14">
                Recaudos
            </h2>
        </div>
         <div class=" flex m-h-4 border-radius-5 bg-red-1 p-h-14 p-v-14 bg-gray-3 bg-gray-1-hover">
            <img class="width-15 height-15" src="/img/money1.svg" alt="">
            <h2 class=" color-white font-roboto font-w-700  p-h-18 font-14">
                Estado de cuenta
            </h2>
        </div>
        <div class=" flex m-h-4 border-radius-5 bg-red-1 p-h-14 p-v-14 bg-gray-3 bg-gray-1-hover">
            <img class="width-15 height-15" src="/img/account2.svg" alt="">
            <h2 class=" color-white font-roboto font-w-700  p-h-18 font-14">
                Referidos
            </h2>
        </div>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NameEmpresa",
  props: {
    img: String,
    title:String,
    subTitle:String
    
   
  },
};
</script>




