 <template>
  <div class="m-v-24 m-h-24 ">
    <table class="border-white-3 width-p-100" style="min-width: 1000px">
      <thead
        :id="`headerTable-${id}`"
        :class="`width-p-100 border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <th colspan="3">
            <div
              class="
                flex-align-center flex flex-justify-start
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-1
                border-t-1
                border-t-l-radius-5
                font-roboto font-w-700 font-18
                color-gray-1
              "
            >
              {{ title }}
            </div>
          </th>
          <th>
            <div
              class="
                flex flex-justify-right flex-align-center
                height-65
                p-h-10 p-v-10
                border-style-solid
                border-0
                border-gray-3
                border-r-1
                border-t-1
                border-t-r-radius-5
              "
            >
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <img class="" :src="img" alt="" />
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-0 bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-center flex-align-start
                border-style-solid
                border-0 
                border-l-1
                border-gray-3
                border-r-2 border-style-solid 
              "
            >
              <div class="m-b-16  ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                    
                  "
                  >{{label1}}</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">{{select}}</option>
                  <option class="color-gray-3" value="starter">{{select}}</option>
                </select>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-center flex-align-start
                border-r-2 border-style-solid
                border-0 border-gray-3
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label2}}
                  <img src="/img/exclamation-circle.svg" alt="">
                  </label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">{{select1}}</option>
                  <option class="color-gray-3" value="starter">{{select2}}</option>
                  
                </select>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label3}}</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">{{select1}}</option>
                  <option class="color-gray-3" value="starter">{{select2}}</option>
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
                border-r-2 border-style-solid

              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label4}}</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">{{select1}}</option>
                  <option class="color-gray-3" value="starter">{{select2}}</option>
                  
                </select>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-20
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-0
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-between
                border-r-2 border-style-solid
                border-0 border-gray-3
              "
            >
                <div class="m-r-5">
                  <label
                    class="
                      m-b-8
                      text-left
                      font-14 font-roboto font-w-400
                      color-gray-1
                      m-r-8
                      d-block
                    "
                    >{{label5}}</label
                  >
                  <input
                    class="
                      width-210
                      height-40
                      p-h-5 p-v-5
                      outline-none
                      border-radius-5 border-gray-3 border-1 border-style-solid
                      color-gray-1
                      bg-transparent
                      font-roboto font-12
                    "
                    type="date"
                  />
                </div>
                <div>
                  <label
                    class="
                      m-b-8
                      text-left
                      font-14 font-roboto font-w-400
                      color-gray-1
                      m-r-8
                      d-block
                    "
                    >{{label6}}</label
                  >
                  <input
                    class="
                      width-210
                      height-40
                      p-h-5 p-v-5
                      outline-none
                      border-radius-5 border-gray-3 border-1 border-style-solid
                      color-gray-1
                      bg-transparent
                      font-roboto font-12
                    "
                    type="date"
                  />
                </div>
             
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-20
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-between
              "
            >
                <div class="m-r-5">
                  <label
                    class="
                      m-b-8
                      text-left
                      font-14 font-roboto font-w-400
                      color-gray-1
                      m-r-8
                      d-block
                    "
                    >{{label5}}</label
                  >
                  <input
                    class="
                      width-210
                      height-40
                      p-h-5 p-v-5
                      outline-none
                      border-radius-5 border-gray-3 border-1 border-style-solid
                      color-gray-1
                      bg-transparent
                      font-roboto font-12
                    "
                    type="date"
                  />
                </div>
                <div>
                  <label
                    class="
                      m-b-8
                      text-left
                      font-14 font-roboto font-w-400
                      color-gray-1
                      m-r-8
                      d-block
                    "
                    >{{label6}}</label
                  >
                  <input
                    class="
                      width-210
                      height-40
                      p-h-5 p-v-5
                      outline-none
                      border-radius-5 border-gray-3 border-1 border-style-solid
                      color-gray-1
                      bg-transparent
                      font-roboto font-12
                    "
                    type="date"
                  />
                </div>
              
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-between flex-align-center
                p-h-20 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
                border-r-2 border-style-solid
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label7}}</label
                >
                <input
                  class="
                    width-200
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  name="cars"
                  id="cars"
                >
                  
              </div>
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label8}}</label
                >
                <select
                  class="
                    width-200
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-5 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">1</option>
                  <option class="color-gray-3" value="starter">2</option>
                  <option class="color-gray-3" value="starter">3</option>
                  <option class="color-gray-3" value="starter">4</option>
                  <option class="color-gray-3" value="starter">5</option>
                  <option class="color-gray-3" value="starter">6</option>
                  <option class="color-gray-3" value="starter">7</option>
                  <option class="color-gray-3" value="starter">8</option>
                  <option class="color-gray-3" value="starter">9</option>
                  <option class="color-gray-3" value="starter">10</option>
                  <option class="color-gray-3" value="starter">11</option>
                  <option class="color-gray-3" value="starter">12</option>

                  
                </select>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-0
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-between
                border-r-2 border-style-solid
                border-0 border-gray-3
              "
            >
              
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-start
              "
            >
              
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-0
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              <div class="m-b-16 flex m-v-10 ">
                  <h2 class="color-gray-1 font-roboto font-14 font-w-400">
                      {{date}} <a class="color-gray-1 font-w-700 font-roboto font-14" href="">{{linkText}}</a>
                  </h2>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-start
              "
            >
              
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-1
                border-b-l-radius-5
              "
            ></div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            ></div>
          </td>

          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-1
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                border-b-r-radius-5
              "
            ></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "NegociacionAsignada",
  props: {
    title: String,
    img: String,
    select:String,
    select1:String,
    select2:String,
    label1:String,
    label2:String,
    label3:String,
    label4:String,
    label5:String,
    label6:String,
    label7:String,
    label8:String,
    date:String,
    linkText:String
   

},
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.313rem !important ;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.313rem !important ;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










