<template>
  <div class="m-v-24 m-h-24 ">
    <div class="flex flex-justify-right">
        <div class="m-r-8 flex flex-align-center">
            <h2 class="font-roboto font-16 font-w-400 color-gray-1">
                1- 10 de 500
            </h2>
        </div>
        <div class="flex border-radius-5 color-gray-3 width-260 height-40 flex-align-center ">
            <div class=" border-style-solid border-1 border-b-l-radius-5 border-t-l-radius-5">
                <h3 class="font-16 font-w-400 font-roboto color-gray-3 p-h-16 height-40 flex flex-align-center pointer">
                Anterior
                </h3>
            </div>
            <div class=" border-style-solid border-0 border-t-1 border-b-1">
                <h3 class="font-16 font-w-700 font-roboto color-gray-1 p-h-16 height-40 flex flex-align-center">
                     1 - 5
                </h3>
            </div>
            <div class=" border-style-solid border-1 border-b-r-radius-5 border-t-r-radius-5">
                <h3 class="font-16 font-w-400 font-roboto color-gray-3 p-h-16 height-40 flex flex-align-center pointer">
                Siguiente
                </h3>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "TablaReferidos3",
  props: {
    title: String,
    img:String,
    img1: String,
    img2: String,
    img3: String,
    img4: String,
    title1: String,
    title2: String,
    money: String,
    text: String,
    text1: String,
    text2: String,
    text3: String,
    text4: String,
    text5: String,
    imgtext1:String,
    imgtext2:String,
    imgtext3:String,
    imgtext4:String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.313rem !important ;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.313rem !important ;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










