
<template>
  <div class="m-v-24 m-h-24">
    <div class="flex flex-justify-between m-b-24">
      <div
        class="
          p-h-20
          flex-justify-between flex-5 flex
          border-style-solid border-radius-5 border-white-line border-1
          m-r-24 m-b-20
        "
      >
        <div class="flex flex-justify-between width-p-100">
          <div class="p-v-22 flex flex-justify-between">
            <h3 class="font-18 font-w-700 font-gray-1 font-roboto">
              Resumen referidos
            </h3>
          </div>
          <div
            class="
              pointer
              flex flex-align-center
              border-1 border-style-solid border-gray-3 border-radius-5
              p-5
              m-v-12
            "
          >
            <img class="m-r-5" src="/img/libro.svg" alt="" />
            <h3 class="font-14 font-w-700 font-gray-1 font-roboto color-gray-1">
              Condiciones
            </h3>
          </div>
        </div>
        <div
          class="
            flex flex-align-start flex-justify-between
            width-p-100
            m-v-10
            border-b-1 border-style-solid border-gray-3
            p-b-5
            border-0
          "
        >
          <div
            class="
              width-100
              border-style-solid border-gray-3 border-0 border-r-1
              p-r-10
            "
          >
            <h2 class="text-left font-roboto font-w-400 font-14 color-gray-3">
              Clientes activos
            </h2>
            <h2 class="text-left font-roboto font-w-700 font-18 color-gray-1">
              10
            </h2>
          </div>
          <div
            class="
              width-100
              border-style-solid border-gray-3 border-0 border-r-1
              p-r-10
            "
          >
            <h2 class="text-left font-roboto font-w-400 font-14 color-gray-3">
              Ingreso promedio por mes
            </h2>
            <h2 class="text-left font-roboto font-w-700 font-18 color-gray-1">
              $30.000
            </h2>
          </div>
          <div
            class="
              width-100
              border-style-solid border-gray-3 border-0 border-r-1
              p-r-10
            "
          >
            <h2 class="text-left font-roboto font-w-400 font-14 color-gray-3">
              Ingresos generados totales
            </h2>
            <h2 class="text-left font-roboto font-w-700 font-18 color-gray-1">
              $30.000
            </h2>
          </div>
          <div class="width-100">
            <h2 class="text-left font-roboto font-w-400 font-14 color-gray-3">
              comisión promedio mensual
            </h2>
            <h2 class="text-left font-roboto font-w-700 font-18 color-gray-1">
              $30.000
            </h2>
          </div>
        </div>
        <div class="flex flex-justify-between width-p-100">
          <div class="p-v-22">
            <h3 class="text-left font-18 font-w-700 color-gray-1 font-roboto">
              ¡Empieza a generar ingresos extras!
            </h3>
            <h3 class="font-16 font-w-400 color-gray-3 font-roboto">
              Compartelo con tus amigos y familiares
            </h3>
          </div>
          <div
            class="
              pointer
              flex flex-align-center
              bg-red-1
              border-radius-5
              p-5
              m-v-20
              bg-gray-1-hover
            "
          >
            <img class="m-r-5" src="/img/ww.svg" alt="" />
            <h3 class="font-14 font-w-700 font-gray-1 font-roboto color-white">
              Invitación
            </h3>
          </div>
        </div>
      </div>

      <div
        class="
          flex-3 flex
          border-style-solid border-radius-5 border-white-line border-1
          m-b-20
        "
      >
        <h2 class="font-roboto font-w-700 font-16 color-gray-1 m-t-10 m-h-10">
          Total comisión por mes
        </h2>
        <div class="sub_board">
          <div class="sep_board"></div>
          <div class="cont_board">
            <div class="graf_board">
              <div class="barra">
                <div class="sub_barra b1">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda color-gray-4 font-roboto font-w-400 font-12">Ene</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b2">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda color-gray-4 font-roboto font-w-400 font-12">Feb</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b3">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda color-gray-4 font-roboto font-w-400 font-12">Mar</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b4">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda color-gray-4 font-roboto font-w-400 font-12">Abri</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b5">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda color-gray-1 font-roboto font-w-400 font-12">May</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b6">
                  <div class="tag_g"></div>
                  <div class="color-gray-4 font-roboto font-w-400 font-12 tag_leyenda">Jun</div>
                </div>
              </div>
            </div>
            <div class="tag_board">
              <div class="sub_tag_board">
                
                <div class="p-b-4 font-roboto font-12">$500 mil</div>
                <div class="p-v-4 font-roboto font-12">$400 mil</div>
                <div class="p-v-8 font-roboto font-12">$300 mil</div>
                <div class="p-v-4 font-roboto font-12">$200 mil</div>
                <div class="p-v-4 font-roboto font-12">$100 mil</div>
                <div class="p-t-4 font-roboto font-12">0</div>
              </div>
            </div>
          </div>
          <div class="sep_board"></div>
        </div>
      </div>
      <div
        class="
          flex-3 flex
          border-style-solid border-radius-5 border-white-line border-1
          m-b-20
        "
      >
        <h2 class="font-roboto font-w-700 font-16 color-gray-1 m-t-10 m-h-10">
          Referidos por mes
        </h2>
        <div class="sub_board">
          <div class="sep_board"></div>
          <div class="cont_board">
            <div class="graf_board">
              <div class="barra">
                <div class="sub_barra b1">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda color-gray-4 font-roboto font-w-400 font-12">Ene</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b2">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda color-gray-4 font-roboto font-w-400 font-12">Feb</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b3">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda color-gray-4 font-roboto font-w-400 font-12">Mar</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b4">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda color-gray-4 font-roboto font-w-400 font-12">Abri</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b5">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda color-gray-1 font-roboto font-w-400 font-12">May</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b6">
                  <div class="tag_g"></div>
                  <div class="color-gray-4 font-roboto font-w-400 font-12 tag_leyenda">Jun</div>
                </div>
              </div>
            </div>
            <div class="tag_board">
              <div class="sub_tag_board">
                
                <div class="p-b-4 font-roboto font-12">30</div>
                <div class="p-v-4 font-roboto font-12">25</div>
                <div class="p-v-8 font-roboto font-12">20</div>
                <div class="p-v-4 font-roboto font-12">15</div>
                <div class="p-v-4 font-roboto font-12">10</div>
                <div class="p-t-4 font-roboto font-12">0</div>
              </div>
            </div>
          </div>
          <div class="sep_board"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script >
import { v4 as uuidv4 } from "uuid";

export default {
  name: "ResumenRef",
  props: {
    title: String,
    img: String,
    select: String,
    select1: String,
    select2: String,
    label1: String,
    label2: String,
    label3: String,
    label4: String,
    label5: String,
    label6: String,
    label7: String,
    label8: String,
    label9: String,
    label10: String,
    label11: String,
    label12: String,
    label13: String,
    label14: String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.313rem !important ;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.313rem !important ;
}

.bodyTable:not(.active) {
  display: none;
}


.board{
    margin: auto;
    width: 100%;
    height: 250px;
    background-color: #e2e2e2;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.titulo_grafica{
    width: 100%;
    height: 10%;
}
.titulo_grafica>h3{
    padding: 0;
    margin: 0px;
    text-align: center;
    
}
.sub_board{
    width: 100%;
    height: 90%;
    padding: 10px;
    margin-top: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
.sep_board{
    width: 100%;
    height: 10%;
}
.cont_board{
    width: 100%;
    height: 80%;
}
.graf_board{
    width: 85%;
    height: 82%;
    float: right;
    margin-top: 0px;
    background-color: darkgrey;
    box-sizing: border-box;
    display: flex;
    background: -moz-linear-gradient(top, rgba(206, 0, 0, 0) 100%, 
    rgba(0,0,0,0) 95%,  rgba(248, 248, 248, 100%) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 100%, rgba(248, 248, 248, 100%) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 100%, rgba(248, 248, 248, 100%) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 100%, rgba(248, 248, 248, 100%) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(248, 248, 248, 100%) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(248, 248, 248, 100%) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(248, 248, 248, 100%) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(248, 248, 248, 100%) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(248, 248, 248, 100%) 90%, rgba(0,0,0,0) 90.5%,  
    rgba(0,0,0,0) 100%);

    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 9.5%,  rgba(248, 248, 248, 100%) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(248, 248, 248, 100%) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(248, 248, 248, 100%) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(248, 248, 248, 100%) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(248, 248, 248, 100%) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(248, 248, 248, 100%) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(248, 248, 248, 100%) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(248, 248, 248, 100%) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(248, 248, 248, 100%) 90%, rgba(0,0,0,0) 90.5%,  
    rgba(0,0,0,0) 100%);

    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 9.5%,  rgba(248, 248, 248, 100%) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(248, 248, 248, 100%) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(248, 248, 248, 100%), rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(248, 248, 248, 100%) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(248, 248, 248, 100%) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(248, 248, 248, 100%) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(248, 248, 248, 100%) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(248, 248, 248, 100%) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(248, 248, 248, 100%) 90%, rgba(0,0,0,0) 90.5%, 
    rgba(0,0,0,0) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.barra{
    width:100%;
    height: 100%;
    margin-right: 12px;
    margin-left: 12px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.sub_barra{
    width: 100%;
    height: 80%;
    background: #C80935;
    background: #C80935;
    background: #C80935;
    background: #C80935;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );
    
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 5px 5px 0 0;
}
.tag_g{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 22px;
    text-align: center;
    margin-top: -20px;
    z-index: 2;
}
.tag_leyenda{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.tag_board{
  
    width: 15%;
  
    
}
.sub_tag_board{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.sub_tag_board>div{
    width: 100%;
    height: 10%;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}
.b1{ height: 60%}
.b2{ height: 42%}
.b3{ height: 70%}
.b4{ height: 37%}
.b5{ height: 33%}
.b6{ height: 2%}




</style>










