<template>
  <div class="m-v-24 m-h-24 ">
      <div class="flex flex-align-center flex-justify-between border-0 border-style-solid border-gray-3 m-v-20">
        <div class="flex p-10 flex-align-center width-118">
            <h2 class="font-16 font-roboto font-w-400 color-gray-1 m-h-10">
                 12/02/2022
            </h2>
        </div>
        <div class=" p-10 flex-align-center">
           <div class="bg-orange border-radius-5 p-10">
                <h2 class="font-16 font-roboto font-w-400 color-white m-h-10">
                 R0 - Potencial - A
            </h2>
           </div>
            <h2 class="font-14 font-roboto font-w-400 color-gray-1 m-h-10 m-v-2">
                 Fecha: 12/02/2022
            </h2>
        </div>
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-400 color-gray-1 m-h-10">
                 Juan David Naula<br> Cotinchara
            </h2>
        </div>
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-400 color-gray-1 m-h-10">
               CC <br>111285572288
            </h2>
            
        </div>
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-400 color-gray-1 m-h-10">
                3217890767<br>
                joramirez.1975@hotmail.com
            </h2>
            <img class="pointer" src="/img/flechas.svg" alt="">
        </div>
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-400 color-gray-1 m-h-10">
                12/02/2022 - 12:00 pm<br>
                Faltan los documentos
            </h2>
            <img class="pointer" src="/img/flechas.svg" alt="">
        </div>
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-400 color-gray-1 m-h-10">
                P12/02/2022<br>
                12:00 pm
            </h2>
            <img class="pointer" src="/img/flechas.svg" alt="">
        </div>
        <div class="flex p-10 flex-align-center">
            <img class="pointer m-r-4" src="/img/eye.svg" alt="">
            <img class="pointer m-r-4" src="/img/tel1w.svg" alt="">
        
        </div>
      </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "TabEmbudo",
  props: {
    title: String,
    img:String,
    img1: String,
    img2: String,
    img3: String,
    img4: String,
    title1: String,
    title2: String,
    money: String,
    text: String,
    text1: String,
    text2: String,
    text3: String,
    text4: String,
    text5: String,
    imgtext1:String,
    imgtext2:String,
    imgtext3:String,
    imgtext4:String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>



</style>










