<template>
  <div class="m-v-24 m-h-24 ">
      <div class="flex flex-align-center flex-justify-around border-0 border-style-solid border-t-2 border-b-2 border-gray-3 m-v-20">
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-700 color-gray-1 m-h-10">
                 Fecha
            </h2>
            <img class="pointer" src="/img/flechas.svg" alt="">
        </div>
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-700 color-gray-1 m-h-10">
                 Cliente
            </h2>
            <img  class="pointer" src="/img/flechas.svg" alt="">
        </div>
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-700 color-gray-1 m-h-10">
                 Referidos activos
            </h2>
            <img class="pointer"  src="/img/flechas.svg" alt="">
        </div>
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-700 color-gray-1 m-h-10">
                Facturado por
                el referido
            </h2>
            <img class="pointer" src="/img/flechas.svg" alt="">
        </div>
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-700 color-gray-1 m-h-10">
                Total a comisionar
            </h2>
            <img class="pointer" src="/img/flechas.svg" alt="">
        </div>
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-700 color-gray-1 m-h-10">
                Estado
            </h2>
            <img class="pointer" src="/img/flechas.svg" alt="">
        </div>
        <div class="flex p-10 flex-align-center">
            <h2 class="font-16 font-roboto font-w-700 color-gray-1 m-h-10">
                Aciones
            </h2>
            <img class="pointer" src="/img/flechas.svg" alt="">
        </div>
      </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "TableRefereidos",
  props: {
    title: String,
    img:String,
    img1: String,
    img2: String,
    img3: String,
    img4: String,
    title1: String,
    title2: String,
    money: String,
    text: String,
    text1: String,
    text2: String,
    text3: String,
    text4: String,
    text5: String,
    imgtext1:String,
    imgtext2:String,
    imgtext3:String,
    imgtext4:String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>



</style>










