<template>
  <div class="m-v-24 m-h-24 ">
    <table class="border-white-3 width-p-100" style="min-width: 1000px">
      <thead
        :id="`headerTable-${id}`"
        :class="`width-p-100 border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <th colspan="">
            <div
              class="
                flex-align-center flex flex-justify-center
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-1
                border-t-1
                border-t-l-radius-5
                font-roboto font-w-400 font-16
                color-gray-1
              "
            >
              30/03/2022
            </div>
          </th>
          <th colspan="">
            <div
              class="
                flex-align-center flex flex-justify-center
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-0
                border-t-1
                
                font-roboto font-w-400 font-16
                color-gray-1
              "
            >
              $1.000.000
            </div>
          </th>
          <th colspan="">
            <div
              class="
                flex-align-center flex flex-justify-around
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-0
                border-t-1
                
                
                color-gray-1
              "
            >
              <div class=" ">
                  <h3 class="font-roboto font-w-400 font-16">
                    $2.000.000
                  </h3>
              </div>
              <div class="border-radius-5 bg-yellow-1 p-h-40 p-v-10 ">
                  <h2 class="font-roboto font-w-400 color-gray-1 font-16">
                      60%
                  </h2>
              </div>
            </div>
          </th>
          
          <th colspan="">
            <div
              class="
                flex-align-center flex flex-justify-center
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-0
                border-t-1
                
                font-roboto font-w-400 font-16
                color-gray-1
              "
            >
              $200.000
            </div>
          </th>
         <th colspan="">
            <div
              class="
                flex-align-center flex flex-justify-around
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-0
                border-t-1
                
                
                color-gray-1
              "
            >
              <div class=" ">
                  <h3 class="font-roboto font-w-400 font-16">
                    $2.000.000
                  </h3>
              </div>
              <div class="border-radius-5 bg-yellow-1 p-h-40 p-v-10 ">
                  <h2 class="font-roboto font-w-400 color-gray-1 font-16">
                      60%
                  </h2>
              </div>
            </div>
          </th>
          
         
          <th colspan="">
            <div
              class="
                flex-align-center flex flex-justify-center
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-0
                border-t-1
                
                font-roboto font-w-400 font-16
                color-gray-1
              "
            >
              5/6
            </div>
          </th>
          <th colspan="">
            <div
              class="
                flex-align-center flex flex-justify-center
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-0
                border-t-1
                
                font-roboto font-w-400 font-16
                color-gray-1
              "
            >
             $500.000
            </div>
          </th>
          <th>
            <div
              class="
                flex flex-justify-right flex-align-center
                height-65
                p-h-10 p-v-10
                border-style-solid
                border-0
                border-gray-3
                border-r-1
                border-t-1
                border-t-r-radius-5
              "
            >
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <img class="" :src="img" alt="" />
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-0 bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
                
              "
            >
            <h2 class="font-16 font-w-400 font-16 color-gray-1">
                Asesor 1
            </h2>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-center
                border-0 border-b-0 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                No aplica
            </h2>
            </div>
          </td>
          <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-center
                border-0 border-b-0 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $200.000
            </h2>
            </div>
          </td>
           <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-around
                border-0 border-b-0 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $2.000.000
            </h2>
            <div class="border-radius-5 bg-yellow-1 p-h-40 p-v-10 ">
                  <h2 class="font-roboto font-w-400 color-gray-1 font-16">
                      60%
                  </h2>
              </div>
            </div>
          </td>
          <td>
              <div
              class="
                flex-align-center flex flex-justify-center
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-0
                border-t-0
                
                font-roboto font-w-400 font-16
                color-gray-1
              "
            >
              <div class="border-radius-5 p-h-40 p-v-10 ">
                 
              </div>
            </div>
          </td>
           <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-center
                border-0 border-b-0 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $500.000
            </h2>
            </div>
          </td>
          <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                
              "
            >
            <h2 class="font-16 font-w-400 font-16 color-gray-1">
               
            </h2>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
                
              "
            >
            <h2 class="font-16 font-w-400 font-16 color-gray-1">
                Asesor 1
            </h2>
            </div>
          </td>
           <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-center
                border-0 border-b-0 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $1.000.000
            </h2>
            </div>
          </td>
           <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-around
                border-0 border-b-0 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $2.000.000
            </h2>
            <div class="border-radius-5 bg-yellow-1 p-h-40 p-v-10 ">
                  <h2 class="font-roboto font-w-400 color-gray-1 font-16">
                      60%
                  </h2>
              </div>
            </div>
          </td>
          <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-center
                border-0 border-b-0 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $200.000
            </h2>
            </div>
          </td>
           <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-around
                border-0 border-b-0 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $2.000.000
            </h2>
            <div class="border-radius-5 bg-yellow-1 p-h-40 p-v-10 ">
                  <h2 class="font-roboto font-w-400 color-gray-1 font-16">
                      60%
                  </h2>
              </div>
            </div>
          </td>
          
          <td>
              <div
              class="
                flex-align-center flex flex-justify-center
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-0
                border-t-0
                
                font-roboto font-w-400 font-16
                color-gray-1
              "
            >
              <div class="border-radius-5 p-h-40 p-v-10 ">
                 
              </div>
            </div>
          </td>
           <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-center
                border-0 border-b-0 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $500.000
            </h2>
            </div>
          </td>
          <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                
              "
            >
            <h2 class="font-16 font-w-400 font-16 color-gray-1">
               
            </h2>
            </div>
          </td>
        </tr>
         <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-1
                border-b-l-radius-5
              "
            >
            <h2 class="font-16 font-w-400 font-16 color-gray-1">
                Director
            </h2>
            </div>
          </td>
           <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $1.000.000
            </h2>
            </div>
          </td>
           <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-around
                border-0 border-b-1 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $2.000.000
            </h2>
            <div class="border-radius-5 bg-yellow-1 p-h-40 p-v-10 ">
                  <h2 class="font-roboto font-w-400 color-gray-1 font-16">
                      60%
                  </h2>
              </div>
            </div>
          </td>
          <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $200.000
            </h2>
            </div>
          </td>
           <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-around
                border-0 border-b-1 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $2.000.000
            </h2>
            <div class="border-radius-5 bg-yellow-1 p-h-40 p-v-10 ">
                  <h2 class="font-roboto font-w-400 color-gray-1 font-16">
                      60%
                  </h2>
              </div>
            </div>
          </td>
          <td>
              <div
              class="
                flex-align-center flex flex-justify-center
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-b-1
                border-t-0
                
                font-roboto font-w-400 font-16
                color-gray-1
              "
            >
              <div class="border-radius-5 p-h-40 p-v-10 ">
                 
              </div>
            </div>
          </td>
           <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center flex-justify-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            >
             <h2 class="font-16 font-w-400 font-16 color-gray-1">
                $500.000
            </h2>
            </div>
          </td>
          <td class="" >
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-1
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                border-b-r-radius-5
              "
            >
            <h2 class="font-16 font-w-400 font-16 color-gray-1">
               
            </h2>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "TablaReferidos3",
  props: {
    title: String,
    img:String,
    img1: String,
    img2: String,
    img3: String,
    img4: String,
    title1: String,
    title2: String,
    money: String,
    text: String,
    text1: String,
    text2: String,
    text3: String,
    text4: String,
    text5: String,
    imgtext1:String,
    imgtext2:String,
    imgtext3:String,
    imgtext4:String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.313rem !important ;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.313rem !important ;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










