@font-face {
    font-family: roboto;
    src: url('./font/roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: roboto;
    src: url('./font/roboto/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: roboto;
    src: url('./font/roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
.font-roboto{
    font-family: roboto;
}